<!-- TODO: append marketo form ID to ID attribute-->
<form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_" class="marketo-form">
  <label for="Email" class="mktoLabel ">Email address:</label>
  <input required  id="email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField mktoRequired">
  
  <p class="p-form-help-text u-sv1">
    You'll receive an email with a link to get your t-shirt.
  </p> 

  <!-- TODO: add marketo form ID to value attribute-->
  <input type="hidden" name="formid" class="mktoField" value="">
  <input type="hidden" name="formVid" class="mktoField" value="">

  <input type="hidden" name="munchkinId" class="mktoField" value="066-EOV-335">
  <input type="hidden" name="Consent_to_Processing__c" value="yes" />
  <input type="hidden" aria-hidden="true" aria-label="hidden field" name="gclid" class="mktoField" id="gclid" value="" />

  <!-- TODO: add ebook URL to value attribute -->
  <input type="hidden" name="returnURL" value="" />

  <button type="submit" class="p-button--positive u-no-margin--bottom" aria-label="Submit">Get the eBook</button>
</form>
