<nav class="p-tabs js-about-tabs" aria-label="Resource links">
  <ul class="p-tabs__list" role="tablist">
    <li class="p-tabs__item" role="presentation">
      <a href="#charmed-olm" id="charmed-olm-tab" class="p-tabs__link" tabindex="0" role="tab" aria-controls="charmed-olm" aria-selected="true">Charmed Operator Lifecycle Manager</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a href="#charmed-operator-sdk" id="charmed-operator-sdk-tab" class="p-tabs__link" role="tab" aria-controls="charmed-operator-sdk">Charmed Operator SDK</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a href="#charmhub" id="charmhub-tab" class="p-tabs__link" role="tab" aria-controls="charmhub">Charmhub</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a href="#jaas" id="jaas-tab" class="p-tabs__link" role="tab" aria-controls="jaas">JAAS</a>
    </li>
  </ul>
</nav>

<div class="js-equal-height-tabs">
  <div id="charmed-operator-sdk" class="p-tabs__content" role="tabpanel" aria-labelledby="charmed-operator-sdk-tab">
    <div class="row u-vertically-center">
      <div class="col-5 u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/4e54368c-models.svg",
            alt="",
            height="192",
            width="192",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
      <div class="col-6 col-start-large-7">
        <p class="p-heading--4">A set of tools to help you write Charmed Operators and to package them as Charms.</p>
        <a href="#" class="p-button--positive">Start Charming with the Charmed Operator SDK</a>
      </div>
    </div>
  </div>

  <div id="charmhub" class="p-tabs__content" role="tabpanel" aria-labelledby="charmhub-tab">
    <div class="row u-vertically-center">
      <div class="col-5 u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/4e54368c-models.svg",
            alt="",
            height="192",
            width="192",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
      <div class="col-6 col-start-large-7">
        <p class="p-heading--4">A repository for charms - from Observability to Data to Identity and more.</p>
        <a href="https://charmhub.io/" class="p-button--positive">Look at the list of Charmed Operators</a>
      </div>
    </div>
  </div>

  <div id="jaas" class="p-tabs__content" role="tabpanel" aria-labelledby="jaas-tab">
    <div class="row u-vertically-center">
      <div class="col-5 u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/4e54368c-models.svg",
            alt="",
            height="192",
            width="192",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
      <div class="col-6 col-start-large-7">
        <p class="p-heading--4">A visual tool for managing applications and groups of applications across hybrid clouds at scale.</p>
        <a href="https://jaas.ai/" class="p-button--positive">Discover JAAS</a>
      </div>
    </div>
  </div>

  <div id="charmed-olm" class="p-tabs__content" role="tabpanel" aria-labelledby="charmed-olm-tab">
    <div class="row u-vertically-center">
      <div class="col-5 u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/4e54368c-models.svg",
            alt="",
            height="192",
            width="192",
            hi_def=True,
          ) | safe
        }}
      </div>
      <div class="col-6 col-start-large-7">
        <p class="p-heading--4">A system to help you move from configuration management to application management across your hybrid cloud estate - through sharable, reusable, tiny applications called Charmed Operators.</p>
        <a href="https://juju.is/docs" class="p-button--positive">Get started with the Charmed OLM Docs</a>
      </div>
    </div>
  </div>
</div>