{% extends 'base.html' %}

{% block content %}
<section class="p-strip--suru-topped is-shallow">
  <div class="row">
    <div class="col-3">
      <div class="p-side-navigation" id="drawer">
        <a href="#drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
          Toggle side navigation
        </a>

        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>

        <div class="p-side-navigation__drawer">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="drawer">
              Toggle side navigation
            </a>
          </div>

          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about' %} is-active{% endif %}" href="/about">Mission</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/olm-overview' %} is-active{% endif %}" href="/olm-overview">OLM Overview</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/model-driven-operations' %} is-active{% endif %}" href="/model-driven-operations">Model-driven ops</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/universal-operators' %} is-active{% endif %}" href="/universal-operators">Universal operators</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/integration' %} is-active{% endif %}" href="/integration">Operator integration</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/operator-lifecycle-manager' %} is-active{% endif %}" href="/operator-lifecycle-manager">Operator lifecycle</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/operator-services' %} is-active{% endif %}" href="/operator-services">OLM services</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/multi-cloud-operations' %} is-active{% endif %}" href="/multi-cloud-operations">Multi-cloud ops</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/devsecops' %} is-active{% endif %}" href="/devsecops">Security</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/ops-code-quality' %} is-active{% endif %}" href="/ops-code-quality">Quality</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/architecture' %} is-active{% endif %}" href="/architecture">Architecture</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/high-availability-enterprise-olm' %} is-active{% endif %}" href="/high-availability-enterprise-olm">High availability</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/hosted-olm' %} is-active{% endif %}" href="/hosted-olm">Hosted Juju</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/beyond-configuration-management' %} is-active{% endif %}" href="/beyond-configuration-management">Beyond config management</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-9 col-start-large-4">

      {% block about_content %}{% endblock about_content %}

    </div>
  </div>
</section>
{% endblock %}
