{% extends 'base.html' %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-3">
      <div class="p-side-navigation" id="drawer">
        <a href="#drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
          Toggle side navigation
        </a>

        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>

        <div class="p-side-navigation__drawer">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="drawer">
              Toggle side navigation
            </a>
          </div>

          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about' %} is-active{% endif %}" href="/about">OLM Overview</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/universal-operators' %} is-active{% endif %}" href="/about/universal-operators">Universal Operator Pattern</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/operator-services' %} is-active{% endif %}" href="/about/operator-services">Operator services</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/mission' %} is-active{% endif %}" href="/about/mission">Mission statement</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/high-availability-enterprise-olm' %} is-active{% endif %}" href="/about/high-availability-enterprise-olm">Resilient Operator Lifecycle Management</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/architecture' %} is-active{% endif %}" href="/about/architecture">OLM Architecture</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/operator-lifecycle-manager' %} is-active{% endif %}" href="/about/operator-lifecycle-manager">Operator Lifecycle Manager</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/ops-code-quality' %} is-active{% endif %}" href="/about/ops-code-quality">Delivering ops code quality</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/hosted-olm' %} is-active{% endif %}" href="/about/hosted-olm">Hosted OLM</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link{% if request.path == '/about/multi-cloud-operations' %} is-active{% endif %}" href="/about/multi-cloud-operations">Multi-cloud operations</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-9 col-start-large-4">

      {% block about_content %}{% endblock about_content %}

    </div>
  </div>
</section>
{% endblock %}
