{% extends 'about/base.html' %}

{% block title %}Hosted operator lifecycle manager - SAAS OLM{% endblock title %}

{% block meta_copydoc %}https://docs.google.com/document/d/1zmGR4hZyyTLuPc98XahtcM7Tlb35QYzXZ9dWRf50l8Y/edit{% endblock meta_copydoc %}

{% block meta_description %}Run JAAS (Juju As A Service) either on your premises or hosted at jaas.ai across most of the public clouds.{% endblock %}

{% block about_content %}
<h1>Operator Lifecycle Manager SAAS</h1>
<p class="p-heading--four">Centralised enterprise OLM for multi-cloud operations
</p>
<h2 id="jaas">JAAS.ai is multi-cloud OLM as a service</h2>
<p>
If you don’t want to run your own Juju controllers, you can get someone else to do it for you!
</p>
<p>
The public site <a href="https://jaas.ai/" class="p-link--external">JAAS.ai</a> is a hosted Juju service that spans all the public clouds. Any user can login there and start to create models on their public cloud accounts or Kubernetes clusters. JAAS.ai supports both machine and Kubernetes models across all major public clouds. The service is run by Canonical on highly-available instances on each of the public clouds.
</p>
<h2 id="operators">Addressing operator sprawl</h2>
<p>
Operators are an exciting approach to large-scale application management. However, for an organisation with many developers, many teams, many sites, many clouds, and many Kubernetes clusters, it is inevitable that it becomes difficult to keep track of all the different operators being deployed across those environments.
</p>
<p>
The Juju OLM is lightweight and easy to deploy, both on cloud machines and on Kubernetes. As a result, organisations may find they have many teams deploying separate operator lifecycle management controllers, making it difficult to maintain a central view of the estate.
</p>
<h2 id="on-prem">JAAS on premise for centralised enterprise OLM</h2>
<p>
In larger organisations it is useful to provide a single global view of all of the models containing all the operators running across all the clouds and Kubernetes clusters. JAAS on premise provides an aggregated view across multiple Juju controllers, and serves as a single admin interface for OLM models.
</p>
<p>
JAAS is provided by Canonical and enables enterprise RBAC for models on public clouds, private infrastructure, bare metal, VMware, and OpenStack. For organisations with many Juju controllers, JAAS on premise offers a central point for management, monitoring and audit.
</p>
<p>
JAAS acts as a policy-enforcing proxy to underlying Juju controllers, which enables it to scale to thousands of models across as many controllers as are needed. Identity management integration with the enterprise allows for single-sign-on to the Juju service.
</p>
<p>
You can try JAAS.ai, a public hosted version of the same code. Bringing JAAS on premise creates your own secure, centralized Operator Lifecycle Manager service for the entire business. For more information, please <a href="/contact-us">get in touch</a>.
</p>
{% endblock %}
