{% extends 'base.html' %}

{% block title %}About - Charmed Operator Framework for Kubernetes and VMs{% endblock title %}

{% block meta_copydoc %}https://docs.google.com/document/d/186zQ7bYE-jXqNNTyKEvSzjq-yP-MiMW2zHKbgyrBrm4/edit#{% endblock meta_copydoc %}

{% block meta_description %}Help DevSecOps and SREs manage complex hybrid clouds and the applications on them. Grow from config mgmt to app management and model-driven operations.{% endblock %}

{% block content %}
<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h1>About Juju</h1>
      <p>Juju is an  open-source framework that helps you move from configuration management to application management across your hybrid cloud estate through sharable, reusable, tiny applications called Charmed Operators.</p>

      <p>A Charmed Operator is Juju's expansion and generalisation of the Kubernetes notion of an operator. In the Kubernetes tradition, an Operator is an application packaged with all the operational knowledge required to (1) install and (2) maintain and upgrade it on a Kubernetes cluster. A Charmed Operator ('charm') is an application packaged with all the operational knowledge required to (1) install, (2) maintain and upgrade, and (3) <em>integrate it with other applications</em>, (4) on a Kubernetes cluster, container,  virtual machine, or bare metal machine, running on public or private cloud.</p>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width">
    <h2>Technology</h2>

    <p>Juju has the following components:</p>
  </div>

  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <h4>The Charmed Operator Lifecycle Manager (OLM), a platform for managing charms.</h4>

      <p>The OLM consists of the command line tool <a href="https://juju.is/docs/olm/the-juju-client">Juju ('juju')</a>.</p>

      <p>Visit <a href="https://juju.is/docs/olm">the OLM docs</a> to start managing charms!</p>
    </div>

    <div class="col-4 p-card">
      <h4>Charmhub, a repository of ready-to-use charms.</h4>
      <p>Need to deploy Kubernetes? Grab the <a href="https://charmhub.io/charmed-kubernetes">Charmed Kubernetes</a> charm bundle! Need to deploy Wordpress on Kubernetes or on containers or virtual machines? Grab the <a href="https://charmhub.io/wordpress-k8s">Wordpress K8s</a> or the <a href="https://charmhub.io/wordpress">Wordpress charm</a>.</p>

      <p>Visit <a href="https://charmhub.io/">Charmhub</a> to try a ready-made charm or to find an easy place to start contributing!</p>
    </div>

    <div class="col-4 p-card">
      <h4>The Charmed Operator Software Development Kit (SDK), a toolkit for building charms.</h4>
      <p>The SDK consists of <a href="https://juju.is/docs/sdk/ops">Ops</a> and <a href="https://juju.is/docs/sdk/charmcraft">Charmcraft</a>.</p>

      <ul>
        <li>Ops is a Python operator framework for developing charms.</li>
        <li>Charmcraft is a command line tool used alongside Ops to simplify the creation, building, and publication of a charm.</li>
      </ul>

      <p>Visit <a href="https://juju.is/docs/sdk">the SDK docs</a> to start building charms ('charming')!</p>
    </div>
  </div>
</section>

<section class="p-strip--blue is-dark">
  <div class="row">
    <div class="col-5">
      <h2>Mission</h2>
    </div>
    <div class="col-6 col-start-large-7">
      <p class="p-heading--4">Enterprise software operations in the cloud are costly and messy. One reason is because they are stuck in configuration management.</p>
        
      <p>Since its inception in 2009, Juju’s mission has been to offer a cheaper and cleaner solution. This solution is what we call model-driven application management.</p>
      
      <p>Together, the open source community has the power to dramatically reduce costs and improve the working lives of DevSecOps, SREs, operations teams, and the teams who rely on them. But how exactly does this happen? Keep reading to learn more!</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="u-sv3">Practices</h2>

      {% include "about/_practices_tabs.html" %}
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr />
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Get the eBook and a chance to win a t-shirt</h2>
      <h3 class="p-heading--4">From Configuration to Application Management:</h3>

      <p>The SRE’s Guide to Taking Control of Applications and Services in a Hybrid Cloud World</p>

      <p>Covers such topics as:</p>
      <ul>
        <li>Model Driven Operations</li>
        <li>Extending the operator pattern</li>
      </ul>
    </div>
    <div class="col-4 col-start-large-7">
      {{
        image(
          url="https://assets.ubuntu.com/v1/ec0a68a4-charming-t-shirt.jpg",
          alt="",
          height="298",
          width="760",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
      <h3 id="send-us-your-details" class="p-heading--4">Send us your details</h3>

      {% if 'form_success' in request.args %}
        <div class="p-notification--positive">
          <div class="p-notification__content">
            <h5 class="p-notification__title">Success</h5>
            <p class="p-notification__message">Thank you for your entry, you'll receive an email very soon.</p>
          </div>
        </div>
      {% else %}
        {% include 'about/_ebook-signup-form.html' %}
      {% endif %}
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/tabs.js') }}"></script>
<script>
  initTabs(".js-about-tabs");
  initEqualHeightTabContent(".js-equal-height-tabs")
</script>
{% endblock %}
