{% extends 'base.html' %}

{% block page_title %}Kubernetes and cloud native operations survey 2021{% endblock %}

{% block meta_description %}Data from 1200 respondents on hybrid and multi-cloud operations, Kubernetes, VMs, bare metal, goals, benefits, challenges, operators, advanced usage, edge, and more.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1PEcz_9tFvzrvX5U5pBQFqHKC_0wfb8wtE6KD9HEa_Ls/edit#heading=h.qb2r9z9grpt7{% endblock %}

{% block content %}

<section class="p-strip--blue is-dark">
  <div class="row">
    <div class="col-6">
      <h1>
        Kubernetes and cloud native operations survey&nbsp;2021
      </h1>
    </div>
    <div class="col-6">
      <p>Data from 1200 respondents on hybrid and multi-cloud operations, Kubernetes, VMs, bare metal, goals, benefits, challenges, operators, advanced usage, edge, and more.</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h2>Results coming soon&hellip;</h2>
  </div>
</section>

{% endblock %}
