canonicalwebteam.flask-base==0.6.3
canonicalwebteam.yaml-responses==1.1.1
canonicalwebteam.discourse-docs==1.0.1
canonicalwebteam.search==0.2.1
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.image-template==1.2.0
