canonicalwebteam.flask-base==3.0.0
canonicalwebteam.blog==6.5.0
canonicalwebteam.yaml-responses==1.2.0
canonicalwebteam.discourse==7.0.0
canonicalwebteam.search==2.1.2
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.image-template==1.8.0
black==25.1.0
flake8==7.3.0
requests==2.31.0
semver==3.0.4
cachetools==6.2.0
flask-cors==4.0.0
scikit-learn==1.7.1
requests==2.31.0
responses==0.25.8
zope.event==5.1.1
setuptools==80.9.0
