<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Users and contributors</h2>
    </div>

    <div class="col-12">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="Ubuntu logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="/static/images/ef4f489e-Deutsche_Telekom-Logo.png" alt="Deutsche Telekom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/67db21e0-logo-ibm.png" alt="IBM logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/093c43ef-intel_logo.svg" alt="Intel logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/22fd6473-MicrosoftAzure_logo.svg" alt="Microsoft Azure logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/16aec8e3-cisco-logo-transparent.png" alt="Cisco logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/a78cad70-china-telecom.svg" alt="China Telecom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/56c03384-logo-nec.png" alt="nec logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/9081f01d-hp_logo.svg" alt="Hewlett Packard logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="/static/images/5d403409-2018-logo-yahoo-japan.png" alt="Yahoo! Japan logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/4c6fb640-logo-verizon.png" alt="verizon logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/eaf98009-Bell_Blue_large_transparent.png" alt="Bell logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/890ffa71-Swissquote_logo.svg" alt="Swissquote logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="/static/images/1f395c09-Panasonic-Logo.png" alt="Panasonic logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="/static/images/7bbfb1d0-Scania_logo.png" alt="Scania logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/7c97efb0-BT_logo.svg" alt="BT logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/ee5d503f-rabobank-4.svg" alt="Rabobank logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/ab9074df-logo-tele2.png" alt="tele2 logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>