<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Users and contributors</h2>
    </div>

    <div class="col-12">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/89680bdf-logo-ubuntu.svg" alt="Ubuntu logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/4589dd76-logo-deutsche-telekom.svg" alt="Deutsche Telekom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/d1c6f829-logo-ibm.svg" alt="IBM logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/ecf0af7c-logo-Intel.svg" alt="Intel logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/f01ae6bc-logo-azure.svg" alt="Microsoft Azure logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2ec61a24-logo-deutsche-telekom.svg" alt="Cisco logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/e651641d-logo-china+telecom.svg" alt="China Telecom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/446d9353-logo-nec.svg" alt="nec logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3a082df1-logo-hp.svg" alt="Hewlett Packard logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3bfe80c9-logo-yahoo-jp.svg" alt="Yahoo! Japan logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2de518fb-logo-verizon.svg" alt="verizon logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2a962e80-logo-Bell.svg" alt="Bell logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3b6dac61-logo-swissquote.svg" alt="Swissquote logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/01b828d0-logo-panasonic.svg" alt="Panasonic logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/066908c1-logo-scania.svg" alt="Scania logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/c2220484-logo-BT.svg" alt="BT logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/a2e4ca92-logo-rabobank.svg" alt="Rabobank logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/bafeea04-logo-tele2.svg" alt="tele2 logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>