<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Juju supports</h2>
    </div>
  </div>

  <div class="row p-carousel">
    <div class="col-12">
      <a href="#" id="supports-next" class="p-carousel__next">
        <i class="p-icon--chevron-down">Next page</i>
      </a>
      <a href="#" id="supports-previous" class="p-carousel__previous">
        <i class="p-icon--chevron-down">Previous page</i>
      </a>

      <div id="supports">
        <div class="p-carousel__cell u-vertically-center">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-8 col-start-large-3">
                <div class="p-card--highlighted" style="margin: 1rem;">
                  <h3 class="p-heading--5">Public Clouds</h3>
                  <hr />
                  <ul class="row u-no-margin--bottom">
                    <li class="col-2 col-medium-2 col-small-2 col-start-large-2">
                      <a href="https://juju.is/docs/aws-cloud"><img src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/azure-cloud"><img src="https://assets.ubuntu.com/v1/7c601cb9-azurehp-strip-customers.png" alt="Microsoft Azure logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/gce-cloud"><img src="https://assets.ubuntu.com/v1/fdb8126b-google+cloudhp-strip-customers.png" alt="Google Cloud logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2 col-start-medium-2 col-start-large-3">
                      <a href="https://juju.is/docs/oci-cloud"><img src="https://assets.ubuntu.com/v1/5ba04ee8-atthp-strip-customers.png" alt="AT&amp;T logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2 col-start-small-2">
                      <a href="https://juju.is/docs/rackspace-cloud"><img src="https://assets.ubuntu.com/v1/3faca6ca-netflixhp-strip-customers.png" alt="Netflix logo"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-carousel__cell u-vertically-center">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-8 col-start-large-3">
                <div class="p-card--highlighted" style="margin: 1rem;">
                  <h3 class="p-heading--5">Private Cloud</h3>
                  <hr />
                  <ul class="row u-no-margin--bottom">
                    <li class="col-2 col-medium-2 col-small-2 col-start-medium-2 col-start-large-3">
                      <a href="https://juju.is/docs/vsphere-cloud"><img src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/openstack-cloud"><img src="https://assets.ubuntu.com/v1/7c601cb9-azurehp-strip-customers.png" alt="Microsoft Azure logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2  col-start-medium-2 col-start-large-3">
                      <a href="https://juju.is/docs/maas-cloud"><img src="https://assets.ubuntu.com/v1/5ba04ee8-atthp-strip-customers.png" alt="AT&amp;T logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/manual-cloud"><img src="https://assets.ubuntu.com/v1/fdb8126b-google+cloudhp-strip-customers.png" alt="Google Cloud logo"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-carousel__cell u-vertically-center">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-8 col-start-large-3">
                <div class="p-card--highlighted" style="margin: 1rem;">
                  <h3 class="p-heading--5">Kubernetes</h3>
                  <hr />
                  <ul class="row u-no-margin--bottom">
                    <li class="col-2 col-medium-2 col-small-2 col-start-large-2">
                      <a href="https://juju.is/docs/microk8s-cloud"><img src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/kubernetes/azure-aks"><img src="https://assets.ubuntu.com/v1/7c601cb9-azurehp-strip-customers.png" alt="Microsoft Azure logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      <a href="https://juju.is/docs/kubernetes/amazon-eks"><img src="https://assets.ubuntu.com/v1/5ba04ee8-atthp-strip-customers.png" alt="AT&amp;T logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2 col-start-medium-2 col-start-large-3">
                      <a href="https://juju.is/docs/kubernetes/google-gke"><img src="https://assets.ubuntu.com/v1/fdb8126b-google+cloudhp-strip-customers.png" alt="Google Cloud logo"></a>
                    </li>
                    <li class="col-2 col-medium-2 col-small-2 col-start-small-2">
                      <a href="https://juju.is/docs/kubernetes"><img src="https://assets.ubuntu.com/v1/3faca6ca-netflixhp-strip-customers.png" alt="Netflix logo"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-carousel__cell u-vertically-center">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-8 col-start-large-3">
                <div class="p-card--highlighted" style="margin: 1rem;">
                  <h3 class="p-heading--5">Localhost</h3>
                  <hr />
                  <ul class="row u-no-margin--bottom">
                    <li class="col-2 col-medium-2 col-small-2 col-start-large-4 col-start-medium-3 col-start-small-2">
                      <a href="https://juju.is/docs/lxd-cloud"><img src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-carousel__cell u-vertically-center">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-8 col-start-large-3">
                <div class="p-card--highlighted" style="margin: 1rem;">
                  <h3 class="p-heading--5">Operators</h3>
                  <hr />
                  <ul class="row u-no-margin--bottom u-align-text--center">
                    <li class="col-2 col-medium-2 col-small-2 col-start-large-2">
                      K8s
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      Linux
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      Windows
                    </li>
                    <li class="col-2 col-medium-2 col-small-2 col-start-large-2">
                      SAAS
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      Physical Appliances
                    </li>
                    <li class="col-2 col-medium-2 col-small-2">
                      Uncharmed Software
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
