<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Juju supports</h2>
    </div>
  </div>

  <div class="row p-divider">
    <div class="col-3 p-divider__block">
      <h3 class="p-heading--5">Public Clouds</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://juju.is/docs/aws-cloud">Amazon AWS</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/azure-cloud">Microsoft Azure</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/gce-cloud">Google GCE</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/oci-cloud">Oracle</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/olm/equinix-metal">Equnix Metal</a>
        </li>
      </ul>
    </div>
    <div class="col-3 p-divider__block">
      <h3 class="p-heading--5">Private Cloud</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://juju.is/docs/vsphere-cloud">VMware vSphere</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/openstack-cloud">OpenStack</a>
        </li>
        <li class="col-2 col-medium-2 col-small-2  col-start-medium-2 col-start-large-3">
          <a href="https://juju.is/docs/maas-cloud">MAAS</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/manual-cloud">Manual cloud</a>
        </li>
      </ul>
    </div>
    <div class="col-3 p-divider__block">
      <h3 class="p-heading--5">Kubernetes</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://juju.is/docs/microk8s-cloud">MicroK8s</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/kubernetes/azure-aks">Azure AKS</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/kubernetes/amazon-eks">Amazon EKS</a>
        </li>
        <li class="p-list__item">
          <a href="https://juju.is/docs/kubernetes/google-gke">Google GKE</a>
        </li>
      </ul>
    </div>
    <div class="col-3 p-divider__block">
      <h3 class="p-heading--5">Localhost</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://juju.is/docs/lxd-cloud">LXD</a>
        </li>
      </ul>
    </div>
  </div>
  

                  

                  

                  
                  
