<div class="p-strip--dark footer">
  <div class="l-docs__main">
    <div class="p-section">
        <div class="row">
          <div class="col-3">
            <p>&copy; {{ current_year }} Canonical Ltd.</p>
          </div>
          <div class="col-3">
            <p>
              <a href="https://discourse.charmhub.io/">Ask a question on Discourse</a>
              <br>
              <a href="https://matrix.to/#/#charmhub:ubuntu.com">Ask a question on Matrix</a>
              <br>
              <a href="https://github.com/juju/juju/issues/new?title=doc%3A+ADD+A+TITLE&body=DESCRIBE+THE+ISSUE%0A%0A---%0ADocument:%20index.md">Open a GitHub issue for this page</a>
              <br>
              <a href="https://github.com/juju/juju/edit/main/docs/index.md">Edit this page on GitHub</a>
            </p>
          </div>
          <div class="col-6">
            <p>
              Ubuntu and Canonical are registered trademarks<br>
              of Canonical Ltd.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
