<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/a603c7c9-Favicon - Juju.svg" alt="Canonical Juju" />
          </div>
          <span class="p-navigation__logo-title">Canonical Juju</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://charmhub.io">Charmhub</a>
        </li>
        <li class="p-navigation__item{% if request.path.startswith('/about') %} is-selected{% endif %}">
          <a class="p-navigation__link" href="/about">About</a>
        </li>
        <li class="p-navigation__item--dropdown-toggle" id="learn-link">
          <a class="p-navigation__link" href="#learn-link-menu" aria-controls="learn-link-menu">Learn</a>
          <ul class="p-navigation__dropdown" id="learn-link-menu" aria-hidden="true">
            <li>
              <a href="https://juju.is/docs" class="p-navigation__dropdown-item">
                Documentation
              </a>
              <ul class="p-navigation__sub-list u-no-margin--left u-no-padding--left">
                <li>
                  <a class="p-navigation__dropdown-item" href="/docs/olm">Juju docs: Manage charms</a>
                </li>
                <li>
                  <a class="p-navigation__dropdown-item" href="/docs/sdk">SDK docs: Build charms</a>
                </li>
                <li>
                  <a class="p-navigation__dropdown-item" href="/docs/dev">Dev docs: Contribute to Juju</a>
                </li>
                {#<li>
                  <a class="p-navigation__dropdown-item" href="https://charmhub.io/interfaces">Interfaces</a>
                </li>#}
              </ul>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/cloud-native-kubernetes-usage-report-2022">Kubernetes &amp; Cloud Native Operations Report</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/operator-day">Operator Day</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/blog">Blog</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="https://charmhub.io/topics">Topics</a>
            </li>
          </ul>
        </li>
        <li class="p-navigation__item--dropdown-toggle" id="contribute-link">
          <a class="p-navigation__link" href="#contribute-link-menu" aria-controls="contribute-link-menu">Contribute</a>
          <ul class="p-navigation__dropdown" id="contribute-link-menu" aria-hidden="true">
            <li>
              <div class="p-navigation__dropdown-item is-title">
                <div class="p-muted-heading u-no-margin--bottom">
                  Create a charm
                </div>
              </div>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/docs/sdk/set-up-a-charm-project">Build</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/docs/sdk/publishing">Publish</a>
            </li>
            <li>
              <div class="p-navigation__dropdown-item is-title">
                <div class="p-muted-heading u-no-margin--bottom">
                  Join the community
                </div>
              </div>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="https://discourse.charmhub.io/">Forum</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="https://chat.charmhub.io/charmhub/channels/juju">Chat</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="https://bugs.launchpad.net/juju">Report a bug</a>
            </li>
            <li>
              <a class="p-navigation__dropdown-item" href="/careers">Careers</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="p-navigation__items global-nav"></ul>
    </nav>
  </div>
</header>
