<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-12">
      <p class="p-heading--2 u-sv3">When you need to...</p>
      
      <div class="u-sv3">
        <hr />
      </div>
      
      <div class="p-strip is-shallow">
        <div class="row">
          <div class="col-3 u-align--center">
            {{
              image(
                url="https://assets.ubuntu.com/v1/740ac725-juju.is-deploy.svg",
                alt="",
                height="64",
                width="64",
                hi_def=True,
                loading="auto"
              ) | safe
            }}
            <p><strong>Deploy</strong>, integrate, and manage applications across multiple Kubernetes or virtual machine environments</p>
          </div>
          <div class="col-3 u-align--center">
            {{
              image(
                url="https://assets.ubuntu.com/v1/3a34c1ae-juju.is-build.svg",
                alt="",
                height="64",
                width="64",
                hi_def=True,
                loading="auto"
              ) | safe
            }}
            <p><strong>Build</strong> complex environments frequently</p>
          </div>
          <div class="col-3 u-align--center">
            {{
              image(
                url="https://assets.ubuntu.com/v1/8266afc3-juju.is-manage.svg",
                alt="",
                height="64",
                width="64",
                hi_def=True,
                loading="auto"
              ) | safe
            }}
            <p><strong>Manage applications and services</strong> across multiclouds or hybrid clouds</p>
          </div>
          <div class="col-3 u-align--center">
            {{
              image(
                url="https://assets.ubuntu.com/v1/977ae58c-juju.is-managedaytwo.svg",
                alt="",
                height="64",
                width="64",
                hi_def=True,
                loading="auto"
              ) | safe
            }}
            <p><strong>Manage Day 0 &ndash; Day 2</strong> operations at scale</p>
          </div>
        </div>
      </div>

      <div class="u-sv3">
        <hr />
      </div>

      <p class="p-heading--2 u-align--right">...Juju helps you <strong>take control</strong></p>
    </div>
  </div>
</section>
