<section class="p-strip--light">
  <div class="row p-carousel">
    <div class="col-9 col-start-large-2">
      <a href="#" id="testimonials-next" class="p-carousel__next">
        <i class="p-icon--chevron-down">Next page</i>
      </a>
      <a href="#" id="testimonials-previous" class="p-carousel__previous">
        <i class="p-icon--chevron-down">Previous page</i>
      </a>
      <div id="testimonials">
        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">Juju acts as a thin layer on top of your infrastructure that allows all your operational code to talk to each other. And because of this communication layer, a lot of the problems that conventional configuration management systems have just don’t exist anymore.</p>
            <cite class="p-pull-quote__citation">Konstantin Boudnik, EPAM Systems</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">Using the modelling ethos brought by Juju allows me to quickly run big data applications in a multitude of places. Be it locally on my laptop, on bare metal or in the Cloud, Juju lets me reuse the same models and code without changing any aspects of my deployment.</p>
            <cite class="p-pull-quote__citation">Tom Barber, Spicule LTD</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">Juju enables you to encapsulate each different part of your infrastructure and lets everything talk to each other. So if you have a web server that's managed by Chef and a database that's deployed by a Docker container, you can have the web server talk to the database and the relations between these two very easily.</p>
            <cite class="p-pull-quote__citation">Merlijn Sebrechts, Ghent University</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">Juju seamlessly integrates with our current ATS system.</p>
            <cite class="p-pull-quote__citation">Sara V</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">I like how easy Juju makes deploying services on most any cloud configuration. It also simplifies the relational setup between said services. I'm quite impressed with how simple it is to work with. I'm still in awe of how simple it was to set up MaaS and Juju.</p>
            <cite class="p-pull-quote__citation">Abraham S</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">Easy but powerful cloud provisioning and configuration with one tool. Juju is available on the command line as well as with an easy to install web user interface. The ecosystem provides a large number of charms (packages defining the services and their configuration as well as runtime hooks) and can be used from testing with local LXC containers up to Amazon, OpenStack, Azure, and more.</p>
            <cite class="p-pull-quote__citation">User in Computer & Network Security</cite>
          </blockquote>
        </div>

        <div class="p-carousel__cell">
          <blockquote class="p-pull-quote--large">
            <p class="p-pull-quote__quote">It's so easy and powerful to implement and maintain. I implemented some private charms on my private cloud on MAAS, it works perfect.</p>
            <cite class="p-pull-quote__citation">User in Biotechnology</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
