<section class="p-strip--accent is-dark p-feature">
  <div class="p-feature__title">
    <h2 class="u-fixed-width" id="what-is-juju">What is Juju?</h2>
  </div>
  <div class="row u-full-height u-vertically-center">
    <div class="col-7">
      <div class="p-heading-highlight">
        <p class="p-heading-highlight__item p-heading--4">When your team is deploying and managing applications across virtual machines, Kubernetes, hybrid clouds, and multiclouds, it's easy to get lost in the sprawl of YAML, Charts, Recipes, Playbooks, Plans, Scripts, etc.</p>
        <p class="p-heading--4">Juju is software that drives your software. It helps you to <strong>take control</strong> of all your applications, infrastructure, and environments. You use it to</p>
        <ul>
          <li class="p-heading--4 u-no-margin--bottom">Save your team endless hours of script management</li>
          <li class="p-heading--4 u-no-margin--bottom">Minimise costs</li>
          <li class="p-heading--4 u-no-margin--bottom">Ensure redundancy and resiliency</li>
          <li class="p-heading--4 u-no-margin--bottom">Monitor all activity across substrates</li>
          <li class="p-heading--4 u-no-margin--bottom">Maximise your hybrid cloud architecture</li>
        </ul>
        <p class="p-heading--4">You'll move from <strong>configuration management to application management</strong>.</p>
      </div>
    </div>
    <div class="col-5 u-hide--small">
      <img src="https://assets.ubuntu.com/v1/4ae9123c-Juju-logo.svg" alt="Juju logo"/>
    </div>
  </div>
  <div class="sticky-section">
    <div class="row u-full-height u-vertically-center">
      <div class="col-3 p-heading-highlight">
        <h3 class="p-heading-highlight__item p-heading--2">1.</h3>
        <hr class="is-dark">
        <p>A simple example:</p>
        <p>You have a hybrid cloud, running workloads from applications, databases, monitoring and more &mdash; on Kubernetes and virtual machines.</p>
      </div>
      <div class="col-9 u-hide--x-large">
        <img src="https://assets.ubuntu.com/v1/341cd5af-what-is-juju-illustration-1.svg" alt=""/>
      </div>
      <div class="col-9 p-feature__illustration">
        <img src="https://assets.ubuntu.com/v1/341cd5af-what-is-juju-illustration-1.svg" alt="" class="p-feature__illustration--1"/>
        <img src="https://assets.ubuntu.com/v1/760ba37a-what-is-juju-illustration-2.svg" alt="" class="p-feature__illustration--2"/>
        <div class="p-feature__illustration--3">
          <div class="p-scroller">
            <code class="p-scroller__label">
              &lt;commands&gt;
            </code>
            <div class="p-scroller__cli is-playing">
              <div class="p-scroller__user">
                admin/default:-$ <span class="p-scroller__prefix">juju</span>
              </div>
              <div class="p-scroller__commands">
                <ul data-index="5">
                  <li>deploy</li>
                  <li>remove-application</li>
                  <li>upgrade</li>
                  <li>refresh</li>
                  <li>config</li>
                  <li>trust</li>
                  <li>migrate</li>
                  <li>debug-log</li>
                  <li>create-backup</li>
                  <li>add-k8s</li>
                  <li>add-machine</li>
                  <li>add-cloud</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-feature__illustration--4">
          <img src="https://assets.ubuntu.com/v1/760ba37a-what-is-juju-illustration-2.svg" alt="" class="p-feature__frame--1" />
          <img src="https://assets.ubuntu.com/v1/200de6bb-what-is-juju-illustration-4.svg" alt="" class="p-feature__frame--2" />
        </div>
        <div class="row p-feature__illustration--5">
          <p>Your entire estate</p>
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-1"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-2"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-3"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-4"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-5"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-6"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-7"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-8"}
            ) | safe
          }}
          {{
            image(
              url="https://assets.ubuntu.com/v1/7b84cf45-what-is-juju-illustration-5.svg",
              alt="",
              height="505",
              width="705",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-feature__multi-9"}
            ) | safe
          }}
        </div>
      </div>
    </div>
    <div class="row u-full-height u-vertically-center">
      <div class="col-3 p-heading-highlight">
        <h3 class="p-heading-highlight__item p-heading--2">2.</h3>
        <hr class="is-dark">
        <p>Juju uses Charmed Operators ("Charms") and a Charmed Operator Lifecycle Manager to take control of the deployment, upgrades, integrations, management, and operations of those workloads across your hybrid cloud.</p>
      </div>
      <div class="col-9 u-hide--x-large">
        {{
          image(
            url="https://assets.ubuntu.com/v1/760ba37a-what-is-juju-illustration-2.svg",
            alt="",
            height="505",
            width="705",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      </div>
    </div>
    <div class="row u-full-height u-vertically-center">
      <div class="col-3 p-heading-highlight">
        <h3 class="p-heading-highlight__item p-heading--2">3.</h3>
        <hr class="is-dark">
        <p>Charms are small applications which package common maintenance functions, to turn Day 0 to Day 2 operations into repeatable and reliable code.</p>
        <p>This enables your ops team to manage applications and scenarios rather than fixating on configurations (although they can dive into YAML whenever they like).</p>
        <p><a class="p-button--positive" href="https://charmhub.io">See Charms on charmhub.io</a></p>
      </div>
      <div class="col-9 u-hide--x-large">
        {{
          image(
            url="https://assets.ubuntu.com/v1/d7416dc8-3_full-panel_new.svg",
            alt="",
            height="505",
            width="705",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      </div>
    </div>
    <div class="row u-full-height u-vertically-center">
      <div class="col-3 p-heading-highlight">
        <h3 class="p-heading-highlight__item p-heading--2">4.</h3>
        <hr class="is-dark">
        <p>With Charmed Operators, you not only deploy or manage individual applications, but you relate them to one another in "models", to handle scaling, management, and cross-service dependencies. Your application model defines which applications provide a service and how they interrelate.</p>
      </div>
      <div class="col-9 u-hide--x-large">
        {{
          image(
            url="https://assets.ubuntu.com/v1/200de6bb-what-is-juju-illustration-4.svg",
            alt="",
            height="505",
            width="705",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      </div>
    </div>
    <div class="row u-full-height u-vertically-center">
      <div class="col-3 p-heading-highlight">
        <h3 class="p-heading-highlight__item p-heading--2">5.</h3>
        <hr class="is-dark">
        <p>Models, cross-model relations, and model driven operations give you the control to handle deployments and operations at scale, across hybrid clouds, via CLI, or in a visual tool such as the Juju GUI or JAAS.</p>
        <p><a class="p-button--positive" href="/docs">Check out the docs</a></p>
      </div>
      <div class="col-9 u-hide--x-large">
        {{
          image(
            url="https://assets.ubuntu.com/v1/a87fb8bf-5_full-panel_new.png",
            alt="",
            height="508",
            width="708",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      </div>
    </div>
  </div>
  <div class="row u-full-height u-vertically-center">
    <div class="col-6 p-heading-highlight">
      <p class="p-heading-highlight__item p-heading--4">With software driving your software, your team can take control of all your applications, infrastructure, and environments &mdash; in less time &mdash; without the headaches of YAML sprawl.</p>
      <p><a class="p-button--positive u-no-margin--bottom" href="/docs">Check out the docs</a></p>
    </div>
    <div class="col-5 col-start-large-8 u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/4ae9123c-Juju-logo.svg",
          alt="Juju logo",
          height="170",
          width="469",
          hi_def=True,
          loading="auto"
        ) | safe
      }}
    </div>
  </div>
  <div class="row" style="padding-bottom: 10rem;">
    <div class="col-6 p-heading-highlight">
      <p class="p-heading-highlight__item p-heading--4">Cloud Native Operations Report</p>
      <p>We asked Devs, DevOps and businesses to tell us about their cloud native operations needs and it's a fascinating read.</p>
      <a class="p-button--positive" href="/cloud-native-kubernetes-usage-report-2021">Read our findings</a>
    </div>
  </div>
</section>
