{% extends 'base.html' %}

{% block page_title %}Operator Day - Charmed Operator Framework for Kubernetes and VMs{% endblock page_title %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ZFRGkZ4vvvMVOgq4MIsBuebHsA7Y0rTyiZ76qjQpOAg/edit#{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip">
  <div class="u-fixed-width">
    <h1>Operator Day</h1>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>October 2021</h2>
  </div>

  <div class="row">
    <div class="col-8">
      <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=uWFC1_DeIZU">KubeCon NA 2021: Operator Day Keynote with Mark Shuttleworth</a></h3>
    </div>

    <div class="col-4">
      <div class="u-embedded-media u-hide--small">
        <iframe
          width="560"
          height="302"
          src="https://www.youtube.com/embed/uWFC1_DeIZU?controls=0"
          title="KubeCon NA 2021: Operator Day Keynote with Mark Shuttleworth"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="u-fixed-width">
    <h2>May 2021</h2>
  </div>

  <div class="row">
    <div class="col-8">
      <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=jDvQrcFE32g">KubeCon Operator Day keynote with Mark Shuttleworth</a></h3>
    </div>

    <div class="col-4">
      <div class="u-embedded-media u-hide--small">
        <iframe
          width="560"
          height="302"
          src="https://www.youtube.com/embed/jDvQrcFE32g?controls=0"
          title="KubeCon Operator Day keynote with Mark Shuttleworth"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=yxeJX2WRYjg">How to build a Charmed Operator for Kubernetes</a></h3>
    </div>

    <div class="col-4">
      <div class="u-embedded-media u-hide--small">
        <iframe
          width="560"
          height="302"
          src="https://www.youtube.com/embed/yxeJX2WRYjg?controls=0"
          title="How to build a Charmed Operator for Kubernetes"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}
