{% extends 'base.html' %}

{% block meta_title %}Operator Day - Charmed Operator Framework for Kubernetes and VMs{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ZFRGkZ4vvvMVOgq4MIsBuebHsA7Y0rTyiZ76qjQpOAg/edit#{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--blue is-dark">
  <div class="row">
    <div class="col-8">
      <h1 class="p-heading--2">How is the tech industry using software operators?</h1>
      <h2 class="p-heading--3">Find out at the next Operator Day</h2>
      <p>A rich agenda with various sessions about the basics behind operators, what they are, how to use them, how to create them and how your team can benefit from them.</p>
      <p>Speakers share knowledge and insights about their software operator journey, from configuration management to application management.</p>
      <a class="p-button--positive" href="https://ubuntu.com/contact-us/form?product=generic-contact-us" style="margin-top: 1rem">Contact us</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>What is Operator Day?</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Software operators are crucial in the <a href="https://ubuntu.com/kubernetes">Kubernetes landscape</a>. A software operator encapsulates the knowledge and expertise of a real-world operations team and codifies it into a dedicated piece of software. Software operators help human operators and administrators run their applications efficiently and effectively.</p>
      <p>Canonical has redefined how we operate applications and provides <a href="https://juju.is/">an OSS-based platform and framework</a> for building and running operators.</p>
      <p>And what better place to talk about operators than KubeCon? KubeCon is a bi-annual event in Europe and North America, with presentations, sessions, tutorials and hands-on demos for open-source communities building cloud-native applications.</p>
      <p>It is the most significant event for cloud-native computing, receiving more than 15.000 registrations in the past. KubeCon is the flagship conference of the <a href="https://www.cncf.io/">Cloud Native Computing Foundation (CNCF)</a>.
        Canonical has inaugurated the Operator Day event at KubeCon conference in 2020. If you missed them, you could freely access recordings from the sessions <a href="https://www.youtube.com/@UbuntuOS/playlists">on YouTube</a>.</p>
    </div>
    <div class="col-6" style="padding-top:0.75rem">
      {{ image (
      url="https://assets.ubuntu.com/v1/3be13037-Operator%20Day.png",
      alt="",
      width="636",
      height="358",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="u-fixed-width">
      <a class="p-button--positive" href="https://www.youtube.com/playlist?list=PLwFSk464RMxkRa0kbUUllrDY6eZGWwn7j">Watch the recordings of last Operator Day!</a>
    </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>See past Operator Day events</h2>
    <ul class="p-matrix">
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">
            <a class="p-matrix__link" href="/operator-day/kubecon-eu-2023">Operator Day at KubeCon EU 2023</a>
          </h3>
          <div class="p-matrix__desc">The most recent event demonstrating operators for popular open source applications in VMs and K8s clusters - even running on mainframes.</div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">
            <a class="p-matrix__link" href="/operator-day/kubecon-na-2022">Operator Day at KubeCon NA 2022</a>
          </h3>
          <div class="p-matrix__desc">Operators beyond Kubernetes, the journey from configuration management to application management.</div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-matrix__title">
            <h3 class="p-matrix__title">
              <a class="p-matrix__link" href="/operator-day/kubecon-eu-2022">Operator Day at KubeCon EU 2022</a>
            </h3>
          </div>
          <div class="p-matrix__desc">Everything about software operators explained, including how they can help you.</div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-matrix__title">
            <h3 class="p-matrix__title">
              <a class="p-matrix__link" href="/operator-day/kubecon-na-2021">Operator Day at KubeCon NA 2021</a>
            </h3>
          </div>
          <div class="p-matrix__desc">From Kubernetes operators to MLOps, Data Ops and observability in the enterprise stack.</div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-matrix__title">
            <h3 class="p-matrix__title">
              <a class="p-matrix__link" href="/operator-day/kubecon-eu-2021">Operator Day at KubeCon EU 2021</a>
            </h3>
          </div>
          <div class="p-matrix__desc">How to use operators,  create them in Python, and evolve from configuration management to application management.</div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-matrix__title">
            <h3 class="p-matrix__title">
              <a class="p-matrix__link" href="/operator-day/kubecon-na-2020">Operator Day at KubeCon NA 2020</a>
            </h3>
          </div>
          <div class="p-matrix__desc">The <a href="https://juju.is/model-driven-operations-manifesto">Open Operator Manifesto</a>, working to create a community-driven collection of operators for everyone.</div>
        </div>
      </li>
      <li class="p-matrix__item"></li>
    </ul>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h2>Learn more</h2>
    <p>Read our introduction to <a href="https://juju.is/">Juju and Charmed Operators</a></p>
    <ul>
      <li>Browse our collection of Charmed Operators on <a href="https://charmhub.io/">Charmhub.io</a></li>
      <li>Learn about <a href="https://juju.is/docs/olm">Juju Charmed Operator Lifecycle Manager</a></li>
      <li>Learn about the <a href="https://juju.is/docs/sdk">Juju Charmed Operator SDK</a></li>
      <li>Watch <a href="https://ubuntu.com/blog/juju-and-charmed-operators-videos">videos  to get started with Juju and Charmed Operators</a></li>
      <li>Watch the <a href="https://ubuntu.com/engage/developer-guide-to-operators">webinar about charmed operators ready for publication</a></li>
    </ul>
    <a class="p-button" href="https://ubuntu.com/contact-us/form?product=generic-contact-us" rel="noreferrer noopener" target="_blank" aria-label="Contact Canonical (opens in a new tab)">Still have questions? Contact us</a>
  </div>
</section>
{% endblock %}
