{% extends 'base.html' %}

{% block meta_title %}Operator Day 2nd edition{% endblock %}

{% block meta_description %}The second edition of Operator Day presented how to use them, create them in Python, and evolve from configuration management to application management.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ZFRGkZ4vvvMVOgq4MIsBuebHsA7Y0rTyiZ76qjQpOAg/edit#{% endblock meta_copydoc %}

{% block content %}
  <section class="p-strip--blue is-dark is-shallow">
    <div class="u-fixed-width">
      <h1>Operator Day 2nd edition</h1>
      <h3>KubeCon EU 2021 - May 3rd</h3>
    </div>
  </section>

  <section class="p-strip">
    <div class="u-fixed-width">
      <p>Operators simplify day-to-day application management on Kubernetes. The second edition of Operator Day presented how to use them, create them in Python, and evolve from configuration management to application management. One session also introduced the idea of creating a community-driven collection of operators for everything integrated and tested everywhere.</p>
      <p>Each block started with a keynote introduction by Mark Shuttleworth, then led attendees through hands-on training. Along the way, attendees delved into K8s, operators, Kubeflow, K8s at the Edge, and various other topics. The day wrapped up with a community discussion on model-driven operations and the role of devs, ops, and SREs in future cloud applications.</p>

      <h2>Agenda</h2>
      <h3>May 3rd</h3>
      <table>
        <tbody>
          <tr>
            <td width="20%">7:00 AM - 7:30 AM</td>
            <td>Opening Plenary - Asia</td>
            <td>Mark Shuttleworth, David Booth</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
Operators, Models, Kubernetes, Hybrid Clouds, massive scale and bootstrapping quickly - Kubernetes is taking the world by storm. So what's next? Mark Shuttleworth (one time astronaut, founder of Canonical, the company behind Ubuntu) talks with David Booth (VP Cloud Native Applications at Canonical) about the past and lays down a vision for the future.</td>
          </tr>
          <tr>
            <td>7:30 AM - 7:45 AM</td>
            <td>Simplifying MLOps with model-driven operators - Asia</td>
            <td>Dan Jeffries, Rui Vasconcelos</td>
          </tr>
          <tr>
            <td>7:45 AM - 10:00 AM</td>
            <td>Building a Charmed Operator - Asia</td>
            <td>Jon Seager</td>
          </tr>
          <tr>
            <td>10:00 AM - 10:30 AM</td>
            <td>Kubernetes at the edge: easy as Pi - Asia</td>
            <td>Valentin Viennot, Alex Chalkias</td>
          </tr>
          <tr>
            <td>10:30 AM - 11:00 AM</td>
            <td>Community Networking - Asia</td>
            <td></td>
          </tr>
          <tr>
            <td>2:00 PM - 2:30 PM</td>
            <td>Opening Plenary - EMEA</td>
            <td>Mark Shuttleworth, David Booth</td>
          </tr>
          <tr>
            <td>2:30 PM - 2:45 PM</td>
            <td>Simplifying MLOps with model-driven operators - EMEA</td>
            <td>Dan Jeffries, Rui Vasconcelos</td>
          </tr>
          <tr>
            <td>2:45 PM - 5:00 PM</td>
            <td>Building a Charmed Operator - EMEA</td>
            <td>Jon Seager</td>
          </tr>
          <tr>
            <td>5:00 PM - 5:30 PM</td>
            <td>Kubernetes at the edge: easy as Pi - EMEA</td>
            <td>Valentin Viennot, Alex Chalkias</td>
          </tr>
          <tr>
            <td>5:30 PM - 6:00 PM</td>
            <td>Community Networking - EMEA</td>
            <td></td>
          </tr>
          <tr>
            <td>6:00 PM - 7:30 PM</td>
            <td>Community Session: Building a Model Driven Operations Manifesto</td>
            <td>Ken Sipe, Mark Shuttleworth</td>
          </tr>
          <tr>
            <td>8:00 PM - 8:30 PM</td>
            <td>Opening Plenary - Americas</td>
            <td>Mark Shuttleworth, David Booth</td>
          </tr>
          <tr>
            <td>8:30 PM - 8:45 PM</td>
            <td>Simplifying MLOps with model-driven operators - Americas</td>
            <td>Dan Jeffries, Rui Vasconcelos</td>
          </tr>
          <tr>
            <td>8:45 PM - 11:00 PM</td>
            <td>Building a Charmed Operator - Americas</td>
            <td>Jon Seager</td>
          </tr>
          <tr>
            <td>11:00 PM - 11:30 PM</td>
            <td>Kubernetes at the edge: easy as Pi - Americas</td>
            <td>Valentin Viennot, Alex Chalkias</td>
          </tr>
          <tr>
            <td>11:30 PM - 12:00 AM +1</td>
            <td>Community Networking - Americas</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h2>Speakers</h2>
      <ul class="p-matrix">
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image2.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Alex Chalkias</h3>
                <p class="p-media-object__content">Product Manager, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image12.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Valentin Viennot</h3>
                <p class="p-media-object__content">Product Manager, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image8.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">David Booth</h3>
                <p class="p-media-object__content">VP Cloud Native Applications, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image22.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Jon Seager</h3>
                <p class="p-media-object__content">Product Architect, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image29.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Dan Jeffries</h3>
                <p class="p-media-object__content">Chief Technical Evangelist, Pachyderm</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image1.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Ken Sipe</h3>
                <p class="p-media-object__content">Senior Enterprise Architect, Edward Jones</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image36.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Rui Vasconcelos</h3>
                <p class="p-media-object__content">Product Manager, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <div class="p-media-object">
              <img src="/static/images/operator-day/image6.jpg" class="p-media-object__image is-round" alt="">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">Mark Shuttleworth</h3>
                <p class="p-media-object__content">Founder & CEO, Canonical</p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-matrix__item"></li>
      </ul>

      <h2>Recordings</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="u-embedded-media">
          <iframe
            class="u-embedded-media__element"
            width="448"
            height="252"
            src="https://www.youtube.com/embed/jDvQrcFE32g?controls=0"
            title="KubeCon Operator Day keynote with Mark Shuttleworth"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
      </div>
      <div class="col-6">
        <div class="u-embedded-media">
          <iframe
            class="u-embedded-media__element"
            width="448"
            height="252"
            src="https://www.youtube.com/embed/yxeJX2WRYjg?controls=0"
            title="How to build a Charmed Operator for Kubernetes with Jon Seager"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">

      <h2>Links</h2>
      <p>Event platform: <a href="https://hopin.com/events/operator-day-2021-hosted-by-canonical">https://hopin.com/events/operator-day-2021-hosted-by-canonical</a></p>
    </div>
  </section>
{% endblock %}
