{% extends 'base.html' %}

{% block meta_title %}Operator Day 1st edition{% endblock %}

{% block meta_description %}Operator Day was hosted by Canonical in the context of KubeCon + CloudNativeCon NA 2020, open to all.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ZFRGkZ4vvvMVOgq4MIsBuebHsA7Y0rTyiZ76qjQpOAg/edit#{% endblock meta_copydoc %}

{% block content %}
  <section class="p-strip--blue is-dark is-shallow">
    <div class="u-fixed-width">
      <h1>Operator Day 1st edition</h1>
      <h3>KubeCon NA 2020 - Nov 17th</h3>
    </div>
  </section>

  <section class="p-strip">
    <div class="u-fixed-width">
      <p>Operator Day was hosted by Canonical in the context of KubeCon + CloudNativeCon NA 2020, open to all.</p>
      <p>The first edition of Operator Day presented the Open Operator Manifesto, working on a community-driven collection of operators for everything that’s integrated and tested everywhere.</p>
      <p>Each block started with a keynote introduction, followed by hands-on training and then community discussion.</p>

      <h2>Agenda</h2>
      <table>
        <tbody>
          <tr>
            <th><b>Nov 17th</b></th>
            <td>07:00 AM - 11:00 AM</td>
            <td>Open Operators Day - Asia Edition</td>
            <td>Mark Shuttleworth, Jeremy Lounder, Sohini Roy</td>
          </tr>
          <tr>
            <td></td>
            <td>02:00 PM - 06:00 PM</td>
            <td>Open Operators Day - EMEA Edition</td>
            <td>Mark Shuttleworth, Jeremy Lounder, Sohini Roy</td>
          </tr>
          <tr>
            <td></td>
            <td>08:00 PM - 12:00 AM+1</td>
            <td>Open Operators Day - Americas Edition</td>
            <td>Mark Shuttleworth, Jeremy Lounder, Sohini Roy</td>
          </tr>
        </tbody>
      </table>

      <h2>Speakers</h2>
      <ul>
        <li>Mark Shuttleworth, CEO Canonical</li>
        <li>Sohini Roy, Product Manager, Canonical</li>
        <li>Jeremy Lounder, Engineering Manager, Canonical</li>
        <li>John Lenton, Operator Expert, Canonical</li>
        <li>Facundo Batista, Operator Expert, Canonical</li>
      </ul>

      <h2>Links</h2>
      <p>Event platform: <a href="https://hopin.com/events/operator-day-hosted-by-canonical">https://hopin.com/events/operator-day-hosted-by-canonical</a></p>
    </div>
  </section>
{% endblock %}
