@mixin juju-modal {
  @media (min-width: 975px) {
    #contact-modal.p-modal .p-modal__dialog {
      max-width: 875px;
      min-width: 875px;
    }
  }

  .pagination__link--previous {
    margin-inline-end: 1rem;

    @media screen and (min-width: $breakpoint-medium) {
      margin-block-end: 0;
    }
  }

  .pagination__link--next {
    margin-block-end: 0;
  }
}
