@mixin local-p-navigation {
  .p-navigation__banner {
    background-color: $ubuntu-orange;
  }

  .p-navigation {
    .p-navigation__row {
      @media only screen and (max-width: $breakpoint-medium) {
        padding: 0;
      }
    }

    .p-navigation__banner {
      padding: 0 $sph-inner--large;

      .p-navigation__logo {
        margin: 0;
      }

      .p-navigation__image {
        width: auto;
      }
    }
  }
}