@mixin local-scroller {
  $color-accent: #009ee9;

  %animate {
    animation-direction: alternate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform;
  }

  .p-scroller {
    background: rgba(0, 54, 92, 0.85);
    color: $color-x-light;
    min-height: 665px;

    .p-scroller__label {
      background: transparent;
      left: calc(50% - 38ch);
      position: absolute;
      top: 13rem;

      @media only screen and (min-width: 1681px) {
        left: calc(50% - 34ch);
      }
    }

    .p-scroller__user {
      border-right: 10px solid $color-x-light;
      color: $color-accent;
      font-size: 32px;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
    }

    .p-scroller__cli {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .p-scroller__prefix {
      color: $color-x-light;
    }

    .p-scroller__commands ul {
      @extend %animate;

      list-style-type: none;
      margin: 0;
      padding: 0;
      transform: translateY(72px);

      li {
        @extend %animate;

        font-size: 32px;
        line-height: 1.5;

        &:nth-of-type(1) {
          opacity: 0.2;
          transform: scale(0.55) rotateX(40deg);
          transform-origin: 0 100%;
        }

        &:nth-of-type(2) {
          opacity: 0.4;
          transform: scale(0.6) rotateX(30deg);
          transform-origin: 0 90%;
        }

        &:nth-of-type(3) {
          opacity: 0.6;
          transform: scale(0.7) rotateX(20deg);
          transform-origin: 0 80%;
        }

        &:nth-of-type(4) {
          opacity: 0.8;
          transform: scale(0.85) rotateX(10deg);
          transform-origin: 0 70%;
        }

        &:nth-of-type(5) {
          opacity: 1;
          transform: scale(1) rotateX(0deg);
          transform-origin: 0 60%;
        }

        &:nth-of-type(6) {
          opacity: 0.8;
          transform: scale(0.85) rotateX(-10deg);
          transform-origin: 0 50%;
        }

        &:nth-of-type(7) {
          opacity: 0.6;
          transform: scale(0.7)  rotateX(-20deg);
          transform-origin: 0 40%;
        }

        &:nth-of-type(8) {
          opacity: 0.4;
          transform: scale(0.6) rotateX(-30deg);
          transform-origin: 0 30%;
        }

        &:nth-of-type(9) {
          opacity: 0.2;
          transform: scale(0.55) rotateX(-40deg);
          transform-origin: 0 20%;
        }

        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12),
        &:nth-of-type(13),
        &:nth-of-type(14),
        &:nth-of-type(15) {
          opacity: 0;
          transform: scale(0);
          transform-origin: 0 0%;
        }
      }
    }

    @keyframes command1 {
      33% {
        opacity: 0;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }

      100% {
        opacity: 0;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }
    }

    @keyframes command2 {
      66% {
        opacity: 0;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }

      100% {
        opacity: 0;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }
    }

    @keyframes command3 {
      100% {
        opacity: 0;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }
    }

    @keyframes command4 {
      100% {
        opacity: 0.2;
        transform: scale(0.55) rotateX(40deg);
        transform-origin: 0 100%;
      }
    }

    @keyframes command5 {
      100% {
        opacity: 0.4;
        transform: scale(0.6) rotateX(30deg);
        transform-origin: 0 90%;
      }
    }

    @keyframes command6 {
      50% {
        opacity: 1;
        transform: scale(1) rotateX(0deg);
        transform-origin: 0 60%;
      }

      100% {
        opacity: 0.6;
        transform: scale(0.7) rotateX(-20deg);
        transform-origin: 0 80%;
      }
    }

    @keyframes command7 {
      66% {
        opacity: 1;
        transform: scale(1) rotateX(0deg);
        transform-origin: 0 60%;
      }

      100% {
        opacity: 0.8;
        transform: scale(0.85) rotateX(10deg);
        transform-origin: 0 70%;
      }
    }

    @keyframes command8 {
      100% {
        opacity: 1;
        transform: scale(1) rotateX(0deg);
        transform-origin: 0 60%;
      }
    }

    @keyframes command9 {
      100% {
        opacity: 0.8;
        transform: scale(0.85) rotateX(-10deg);
        transform-origin: 0 50%;
      }
    }

    @keyframes command10 {
      100% {
        opacity: 0.6;
        transform: scale(0.7) rotateX(-20deg);
        transform-origin: 0 40%;
      }
    }

    @keyframes command11 {
      100% {
        opacity: 0.4;
        transform: scale(0.6) rotateX(-30deg);
        transform-origin: 0 30%;
      }
    }

    @keyframes command12 {
      100% {
        opacity: 0.2;
        transform: scale(0.55) rotateX(-40deg);
        transform-origin: 0 20%;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateY(72px);
      }

      100% {
        transform: translateY(-72px);
      }
    }

    .p-scroller__cli.is-playing .p-scroller__commands ul {
      animation-name: scroll;

      li {
        &:nth-of-type(1) {
          animation-name: command1;
        }

        &:nth-of-type(2) {
          animation-name: command2;
        }

        &:nth-of-type(3) {
          animation-name: command3;
        }

        &:nth-of-type(4) {
          animation-name: command4;
        }

        &:nth-of-type(5) {
          animation-name: command5;
        }

        &:nth-of-type(6) {
          animation-name: command6;
        }

        &:nth-of-type(7) {
          animation-name: command7;
        }

        &:nth-of-type(8) {
          animation-name: command8;
        }

        &:nth-of-type(9) {
          animation-name: command9;
        }

        &:nth-of-type(10) {
          animation-name: command10;
        }

        &:nth-of-type(11) {
          animation-name: command11;
        }

        &:nth-of-type(12) {
          animation-name: command12;
        }
      }
    }
  }
}
