@mixin local-p-navigation {
  $color-ubuntu-orange: #e95420;

  .p-navigation {
    @extend %vf-has-box-shadow;
    position: sticky;
    top: -1px;
  }

  .p-navigation__banner {
    background-color: $color-ubuntu-orange;
    padding-inline-start: 1rem;
  }

  .p-side-navigation {
    position: sticky;
    top: 3rem;
  }
}
