@mixin juju-cards {
  @include juju-card-resource;
}

@mixin juju-card-resource {
  .resource-p-card__category {
    background: url("#{$assets-path}ed42aefa-icon-resource-hub-icon-document.png")
      left center no-repeat;
    color: $color-mid-dark;
    font-size: $sp-medium;
    line-height: 1.5;
    padding: 0 0 0 $sp-large;
    text-transform: uppercase;

    > a:link,
    > a:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    > a:hover,
    > a:active {
      color: $color-brand;
      text-decoration: underline;
    }
  }

  %post-card-header {
    border-radius: 2px;
    padding: $sp-medium $sp-medium $sp-small;
  }

  .resource-p-card--post {
    @extend %p-card--highlighted;
    display: flex !important;
    flex-direction: column;
    padding: 0;

    .p-strip--featured & {
      background-color: rgba(
        255,
        255,
        255,
        0.9
      ); //sass-lint:disable-line no-color-literals
      position: relative;
      z-index: 1;
    }

    > .resource-p-card__content {
      border-top: 1px dotted $color-mid-light;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 $sp-small;
      padding: $sp-medium $sp-small $sp-small;

      > a,
      h3,
      p {
        display: block;
        margin: $sp-small 0;
      }
    }

    .resource-p-card__footer {
      border-top: 1px dotted $color-mid-light;
      font-size: 0.875rem;
      margin: auto $sp-small 0;
      max-width: inherit;
      padding: $sp-medium $sp-small;
    }
  }

  .resource-p-card--muted {
    @extend .p-card; //sass-lint:disable-line placeholder-in-extend
    background-color: $color-light;
    box-shadow: 0 1px 2px 0 transparentize($color-dark, 0.8);
    padding: 0;

    > .resource-p-card__header {
      border-bottom: 0;
      border-top: 3px solid $color-light;
      margin-bottom: 0;
    }

    > .resource-p-card__content {
      border-top: 1px dotted $color-mid-light;
      margin: 0 $sp-small $sp-small;
      padding: $sp-medium $sp-small $sp-small;
    }
  }

  // a fallback to catch any instances where a post.group exists,
  // but we haven't yet defined a BEM variant to match
  [class*="resource-p-card__header"] {
    @extend %post-card-header;
    border-top: 3px solid $color-mid-dark;
  }

  .resource-p-card__header {
    &--cloud {
      border-color: #a87ca0; //sass-lint:disable-line no-color-literals
    }

    &--containers {
      border-color: #faba54; //sass-lint:disable-line no-color-literals
    }
  }

  .resource-p-card__date {
    @extend .p-media-object__meta-list; //sass-lint:disable-line placeholder-in-extend
    display: flex;
    margin-top: auto;
    padding-top: $sp-medium;
  }
}
