@mixin local-heading-highlight {
  $color-accent: #009ee9;

  .p-heading-highlight {
    padding-left: 1rem;
    position: relative;

    .p-heading-highlight__item.p-heading--2 {
      margin-bottom: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .p-heading-highlight__item::before {
      background-color: $color-accent;
      content: "";
      display: block;
      height: 3rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

    p.p-heading-highlight__item::before {
      top: -1.2rem;
    }
  }
}
