/* stylelint-disable */
// Import scss settings
@import "settings";

// Import Vanilla
$color-accent-background: #f0f5f7;
$color-accent: #e95420;

@import "vanilla-framework/scss/vanilla";

@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";
@import "patterns_docs";
@import "hljs";
@import "flickity/dist/flickity";

@include juju-docs;
// Local patterns
@import "patterns_cards";

@include juju-cards;

@import "patterns_strips";

@include juju-p-strips;

@import "patterns_navigation";

@include local-p-navigation;

@import "patterns_p-subnav";

@include local-p-subnav;

@import "patterns_p-modal";

@include juju-modal;

@import "patterns_tabs";

@include juju-tabs;

@import "patterns_icons";

@include juju-icons;

@import "patterns_carousel";

@include juju-carousel;

@import "patterns_what-is-juju";

@include local-what-is-juju;

@import "patterns_heading-highlight";

@include local-heading-highlight;

@import "patterns_scroller";

@include local-scroller;

@import "utility_crop";

@include local-crop;

@import "patterns_l-fluid-breakout";

@include l-juju-fluid-breakout;

@import "patterns_tutorials";

@include p-tutorials;

@import "patterns_p-survey-chart";

@include p-survey-chart;

.p-navigation__logo {
  margin: 0.1rem 1rem 0 1.5rem;
}

.p-navigation__toggle {
  &--open,
  &--close {
    font-weight: 400;
  }
}

.u-hide--x-large {
  @media only screen and (min-width: $grid-max-width) {
    display: none;
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.p-sticky-nav {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-tabs__link.is-selected {
  @include vf-highlight-bar($color-brand, bottom, true);
}

// Hide images that fail to lazy load due to JS failing or other
.lazyload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

// Fades in content when class is added
.u-animate--reveal {
  height: auto !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

// Homepage footer overide
.p-strip--suru-top.is-homepage::before {
  background: linear-gradient(
    to bottom right,
    $color-accent-background 0%,
    $color-accent-background 49%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.p-code-numbered__line {
  padding: 0.3rem 1rem 0 4rem;

  &:last-of-type::before {
    padding-bottom: 0.2rem;
    padding-top: 0.3rem;
  }

  &::before {
    content: "$";
    width: 3rem;
  }
}

.p-inline-images .p-inline-images__logo.is-wide {
  max-height: none;
  max-width: 9rem;
}

.p-heading--3,
h3 {
  font-weight: 200;
}

.p-button--outline {
  @extend %vf-button-base;

  border-color: $color-x-light;
  color: $color-x-light;

  &:visited {
    color: $color-x-light;
  }

  &:hover,
  &:active:hover {
    background-color: rgba($color-mid-x-light, 0.2);
  }
}

.p-button-grid {
  @media screen and (min-width: $breakpoint-x-small) {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    [class*="p-button"] {
      padding: 0.75rem;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }
  }
}

// XXX Ovi 28.04.2021 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3723
.l-fluid-breakout__item {
  @media (min-width: $breakpoint-small) {
    max-width: 30rem;
  }
}

// Fixes docs headings being hidden under sticky header
[id^="heading--"] {
  scroll-margin-top: 60px;
}

// Fix emojis on discourse docs
.emoji {
  height: 1rem;
}

.u-inline-block-images a > div {
  display: inline-block;
}

.p-side-navigation--raw-html {
  top: 80px !important;
  overflow-x: hidden;
  max-height: calc(100vh - 80px) !important;
}

.p-side-navigation--raw-html h3 a {
  color: $color-dark;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
