// Import scss settings
@import "settings";

// Import Vanilla
$color-accent: #f0f5f7;
@import "vanilla-framework/scss/vanilla";
@include vanilla;

@import "patterns_docs";
@import "hljs";

@include juju-docs;
// Local patterns
@import "pattern_cards";
@include juju-cards;

@import "patterns_hero-tab";
@include juju-hero-tab;

@import "patterns_strips";
@include juju-p-strips;

@import "patterns_tutorials";
@include juju-tutorials;

@import "patterns_navigation";
@include local-p-navigation;

.p-navigation__logo {
  margin: 0.1rem 1rem 0 1.5rem;
}

.p-navigation__toggle {
  &--open,
  &--close {
    font-weight: 400;
  }
}

.u-hide--x-small {
  @media only screen and (max-width: $breakpoint-x-small) {
    display: none;
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.p-sticky-nav {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-tabs__link.is-selected {
  @include vf-highlight-bar($color-brand, bottom, true);
}

// Hide images that fail to lazy load due to JS failing or other
.lazyload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

// Fades in content when class is added
.u-animate--reveal {
  height: auto !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

// Homepage footer overide
.p-strip--suru-top.is-homepage::before {
  background: linear-gradient(
    to bottom right,
    $color-accent 0%,
    $color-accent 49%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.p-code-numbered__line {
  padding: 0.3rem 1rem 0 4rem;

  &:last-of-type::before {
    padding-bottom: 0.2rem;
    padding-top: 0.3rem;
  }

  &::before {
    content: "$";
    width: 3rem;
  }
}


.p-inline-images .p-inline-images__logo.is-wide {
  max-width: 9rem;
  max-height: none;
}
