/* stylelint-disable */
// Import scss settings
@import "settings";

// Import Vanilla
$color-accent-background: #f0f5f7;
$color-accent: #e95420;
$breakpoint-medium: 619px;
$breakpoint-large: 1220px;

@import "vanilla-framework/scss/vanilla";

@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";
@import "@canonical/discourse-rad-parser/build/css/discourse-rad-parser";
@import "hljs";

// Local patterns
@import "patterns_cards";

@include juju-cards;

@import "patterns_strips";

@include juju-p-strips;

@import "patterns_navigation";

@include p-charmhub-navigation;

@import "patterns_p-modal";

@include juju-modal;

@import "patterns_tabs";

@include juju-tabs;

@import "patterns_icons";

@include juju-icons;

@import "utility_crop";

@include local-crop;

@import "patterns_l-fluid-breakout";

@include l-juju-fluid-breakout;

@import "patterns_p-survey-chart";

@include p-survey-chart;

@import "patterns_p-radio-card";

@include p-radio-card;

@import "patterns_p-suru";

@include p-suru;

.p-navigation__logo {
  margin: 0.1rem 1rem 0 1.5rem;
}

.p-navigation__toggle {
  &--open,
  &--close {
    font-weight: 400;
  }
}

.u-hide--x-large {
  @media only screen and (min-width: $grid-max-width) {
    display: none;
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.p-sticky-nav {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-tabs__link.is-selected {
  @include vf-highlight-bar($color-brand, bottom, true);
}

// Hide images that fail to lazy load due to JS failing or other
.lazyload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

// Fades in content when class is added
.u-animate--reveal {
  height: auto !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

.p-code-numbered__line {
  padding: 0.3rem 1rem 0 4rem;

  &:last-of-type::before {
    padding-bottom: 0.2rem;
    padding-top: 0.3rem;
  }

  &::before {
    content: "$";
    width: 3rem;
  }
}

.p-inline-images .p-inline-images__logo.is-wide {
  max-height: none;
  max-width: 9rem;
}

.p-heading--3,
h3 {
  font-weight: 200;
}

.p-button--outline {
  @extend %vf-button-base;

  border-color: $color-x-light;
  color: $color-x-light;

  &:visited {
    color: $color-x-light;
  }

  &:hover,
  &:active:hover {
    background-color: rgba($color-mid-x-light, 0.2);
  }
}

.p-button-grid {
  @media screen and (min-width: $breakpoint-x-small) {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    [class*="p-button"] {
      padding: 0.75rem;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }
  }
}

// XXX Ovi 28.04.2021 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3723
.l-fluid-breakout__item {
  @media (min-width: $breakpoint-small) {
    max-width: 30rem;
  }
}

// Fixes docs headings being hidden under sticky header
[id^="heading--"] {
  scroll-margin-top: 60px;
}

// Fix emojis on discourse docs
.emoji {
  height: 1rem;
}

.u-inline-block-images a > div {
  display: inline-block;
}

.p-side-navigation--raw-html {
  top: 80px !important;
  overflow-x: hidden;
  max-height: calc(100vh - 80px) !important;
}

.p-side-navigation--raw-html h3 a {
  color: $color-dark;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

html {
  scroll-padding-top: 80px;
}

.is-reversed {
  flex-direction: row-reverse;
}

.responsive-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.mongo-icon {
  background-color: $color-mid-x-light;
  border-radius: 50%;
  color: $color-mid-dark;
  display: block;
  height: 64px;
  line-height: 64px;
  margin-bottom: 1rem;
  text-align: center;
  width: 64px;
}

.homepage-tabs {
  @media only screen and (min-width: $breakpoint-large) {
    margin-top: 88px;
  }
}

.homepage-tabs-logo {
  display: block;
  height: 64px;
  margin-bottom: 1.5rem;
  width: auto;
}

.footer {
  background-color: #222;

  a {
    color: #69c;

    &:visited {
      color: #a679d2;
    }
  }
}

.p-icon--github-white {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDI0IiBoZWlnaHQ9Ijk5OSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNTEyIDBDMjI5LjI1IDAgMCAyMjkuMjUgMCA1MTJjMCAyMjYuMjUgMTQ2LjY5IDQxOC4xMiAzNTAuMTYgNDg1LjgxIDI1LjU5IDQuNjkgMzQuOTMtMTEuMTIgMzQuOTMtMjQuNjIgMC0xMi4xOS0uNDctNTIuNTctLjcxLTk1LjMxQzI0MiA5MDguODEgMjExLjkxIDgxNy41IDIxMS45MSA4MTcuNWMtMjMuMzItNTkuMTItNTYuODUtNzQuODgtNTYuODUtNzQuODgtNDYuNTMtMzEuNzQgMy41My0zMS4xMiAzLjUzLTMxLjEyIDUxLjQxIDMuNTYgNzguNDcgNTIuNzUgNzguNDcgNTIuNzUgNDUuNjkgNzguMjUgMTE5Ljg4IDU1LjYzIDE0OSA0Mi41IDQuNjYtMzMgMTcuOTEtNTUuNjMgMzIuNS02OC4zNy0xMTMuNjUtMTIuOTQtMjMzLjIyLTU2Ljg4LTIzMy4yMi0yNTMuMDcgMC01NS45NCAxOS45Ny0xMDEuNTYgNTIuNjYtMTM3LjQtNS4yMi0xMy0yMi44NC02NS4xIDUuMDYtMTM1LjU3IDAgMCA0Mi45NC0xMy43NSAxNDAuODEgNTIuNSA0MC44Mi0xMS40IDg0LjYtMTcuMDMgMTI4LjEzLTE3LjIyIDQzLjUuMTkgODcuMzEgNS44OCAxMjguMTkgMTcuMjkgOTcuNjktNjYuMzIgMTQwLjY5LTUyLjUgMTQwLjY5LTUyLjUgMjggNzAuNTMgMTAuMzcgMTIyLjU2IDUuMTIgMTM1LjUgMzIuODEgMzUuODQgNTIuNjIgODEuNDcgNTIuNjIgMTM3LjQgMCAxOTYuNjktMTE5Ljc0IDI0MC0yMzMuODEgMjUyLjY5IDE4LjQ0IDE1Ljg4IDM0Ljc1IDQ3IDM0Ljc1IDk0Ljc1IDAgNjguNDQtLjY4IDEyMy42My0uNjggMTQwLjUgMCAxMy42MyA5LjMxIDI5LjU1IDM1LjI0IDI0LjU2Qzg3Ny40NCA5MzAgMTAyNCA3MzguMTIgMTAyNCA1MTIgMTAyNCAyMjkuMjUgNzk0Ljc1IDAgNTEyIDB6Ii8+PC9zdmc+Cg==");
}

.u-no-hover:hover {
  text-decoration: none;
}

.hero-actions {
  @media screen and (min-width: $breakpoint-small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.github-buttons {
  margin-bottom: $sp-medium;
}

.contact-us .p-button--positive, .p-button {
  display: inline-block;
}

.p-tabs--25-75 {
  @extend %vf-row;
  @extend %vf-pseudo-border--bottom;
  position: relative;
  margin: 0 auto $spv--x-large;

  .p-tabs__list {
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-large) {
      margin-left: -$sph--large;
      grid-column-start: 4;
      grid-column-end: span 9;
    }

    // hiding the bottom border from p-tabs__list as it is moved to p-tabs
    &::after {
      content: none;
    }
  }
}

.juju-middle-pages {
  list-style: none;
  counter-reset: listItem;
}

.juju-middle-pages .p-list__item::before {
  counter-increment: listItem;
  content: counter(listItem) ". ";
  font-weight: bold;
}

strong {
  font-weight: bold !important;
}
