<!DOCTYPE html>

<!--
  This is a basic HTML file template to become the new homepage of the site.
  Currently it simply includes Vanilla styles and not much else.

  When you come to work on it in ernest, please remove this comment
  and replace index.html with this file.
-->

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="{% block page_description %}Juju is an open source application modelling tool that allows you to deploy, configure, scale and operate cloud infrastructures quickly and efficiently on public clouds such as AWS, GCE, and Azure along with private ones such as MAAS, OpenStack, and VSphere.{% endblock %}" />
  <link rel="stylesheet" href="{{ versioned_static('css/styles.css') }}" />
  <meta property="og:url" content="https://juju.is/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Take control">
  <title>
    Juju | {% block title %}The simplest way to deploy and maintain
    applications in the cloud{% endblock %}
  </title>
  {% if self.meta_copydoc() %}
  <meta name="copydoc" content="{% block meta_copydoc %}{% endblock %}">
  {% endif %}
  {% if self.meta_image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ self.meta_image() }}">
  <meta property="og:image" content="{{ self.meta_image() }}">
  {% endif %}

  <script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>
  <script src="https://buttons.github.io/buttons.js" defer></script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K9KCMZ');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="{% block page_class %}{% endblock %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9KCMZ" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include "partials/_navigation.html" %}

  {% block content %}{% endblock %}

  {% include "footer.html" %}

  <div class="u-hide" id="contact-form-container" data-form-location="/get-in-touch" data-form-id="1337" data-lp-id="2313" data-return-url="http://juju.is/thank-you" data-lp-url=""></div>
  <script src="{{ versioned_static('js/dynamic-contact-form.js') }}"></script>

  <script src="{{ versioned_static('js/navigation.js') }}"></script>
  <script src="{{ versioned_static('js/build/cookie-policy/cookie-policy.js') }}"></script>
  <script>
    cpNs.cookiePolicy();
  </script>
  <script src="/static/js/build/global-nav/global-nav.js"></script>
  <script>
    canonicalGlobalNav.createNav();
    initNavDropdowns(".p-navigation__item--dropdown-toggle");
  </script>
</body>

</html>
