{% extends "base.html" %}

{% block title %}Coffee on K8s{% endblock %}

{% block content %}
<section class="p-strip is-bordered u-no-padding--bottom">
  <div class="row brew-page-hero u-vertically-center">
    <div class="col-6 col-large-7">
      <h1>
        Coffee on K8s &mdash;
        <br>
        <strong><em>Live from London</em></strong>
      </h1>
      <p>Human operators <a href="cloud-native-kubernetes-usage-report-2021">have spoken</a>: <strong>Kubernetes must make coffee!</strong> Due to popular demand, we built a vendor-agnostic espresso machine controlled by a server, running in a kubernetes cluster. Scroll down to learn more about this project and brew a cup.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-7">
      <h2 id="the-project">The project</h2>
      <p class="p-heading--4">Earlier this year we asked, &ldquo;What can&rsquo;t you do with Kubernetes?&rdquo;. The most voted answer was&hellip; make coffee.</p>
      <p>Yes, the beverage. &ldquo;Haha, funny&rdquo; &mdash; we thought to ourselves, until we realized that this is an  amazing opportunity to tell a story about multi-cloud usage, open source IoT stacks and electronics!</p>
      <p>TL;DR: We built a coffee machine controlled by a microcontroller talking to a server running on K8s. It can be deployed on public and private clouds. Here&rsquo;s the stack:</p>
    </div>
  </div>
  <div class="u-fixed-width">
    {{
      image(
        url="https://assets.ubuntu.com/v1/6d42acba-juju-brew-diagram.svg",
        alt="",
        height="456",
        width="928",
        hi_def=True,
        loading="lazy",
        attrs={"style": "margin-top: 1rem; margin-bottom: 1rem;"}
      ) | safe
    }}
  </div>
  <div class="row">
    <div class="col-7">
      <p>Overwhelmed? That&rsquo;s ok, we broke it down each part in <a href="#learn-more">a series of blog posts</a>.</p>
      <p>The idea here is to, well, make some coffee, but most importantly: show that you can deploy and operate an open source stack of apps that will work equally well on any kubernetes flavour or vendor or cloud platform using <a href="/">Juju and Charmed Operators</a>.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-7">
      <h2 id="live-from-london">Live from London</h2>
      <p>We planned to have this machine running live at <a href="https://ubuntu.com/blog/kubecon-na-2021-operator-day-hosted-by-canonical" class="p-link--external">Kubecon NA</a>. However, because of health and safety regulations, we had to quarantine our coffee machine at Canonical&rsquo;s office in London. Worry not, you can still place an order, and see it being executed (sort of). Yes, it also makes tea!</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <div class="u-embedded-media">
      <iframe class="u-embedded-media__element" src="https://www.youtube.com/embed/woUnlazF2S4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-7">
      <h2 id="menu">Menu</h2>
      <p class="p-heading--4">This is not your usual barista. As a truly cloud agnostic coffee machine, you can pick your favourite cloud vendor.</p>
      <p>For this demo, we narrowed down the choices, but Juju and Charmed Operators will work on a <a href="/docs/olm/clouds">variety of clouds</a> (they&rsquo;ll also help automate your Day 0 to Day 2 operations across your own stack).</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <form class="js-brew-form">
      <input name="formid" aria-label="formid" value="4172" type="hidden">
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Pick your cloud vendor:</h3>
          <div class="p-stepped-list__content">
            <p>This is the cloud hosting the app stack.</p>
            <div class="row u-no-padding--left u-no-padding--right js-vendor-radios">
              <div class="col-3">
                <p class="p-muted-heading u-align-text--center">Private cloud</p>
                <label class="p-radio-card is-selected">
                  <input type="radio" class="js-radio" name="cloud-vendor" aria-labelledby="cloud-vendor-microk8s" value="MicroK8s" checked>
                  <div id="cloud-vendor-microk8s">
                    {{
                      image(
                        url="https://assets.ubuntu.com/v1/e63c5d75-microk8s.svg",
                        alt="",
                        height="48",
                        width="48",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-radio-card__icon"}
                      ) | safe
                    }}
                    MicroK8s
                  </div>
                </label>
              </div>
              <div class="col-9">
                <p class="p-muted-heading u-align-text--center">Public clouds</p>
                <div class="row u-no-padding--left u-no-padding--right">
                  <div class="col-3">
                    <label class="p-radio-card">
                      <input type="radio" class="js-radio" name="cloud-vendor" aria-labelledby="cloud-vendor-aws" value="AWS">
                      <div id="cloud-vendor-aws">
                        {{
                          image(
                            url="https://assets.ubuntu.com/v1/8e5cc412-aws.svg",
                            alt="",
                            height="48",
                            width="81",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-radio-card__icon"}
                          ) | safe
                        }}
                        AWS
                      </div>
                    </label>
                  </div>
                  <div class="col-3">
                    <label class="p-radio-card">
                      <input type="radio" class="js-radio" name="cloud-vendor" aria-labelledby="cloud-vendor-google-cloud" value="Google Cloud">
                      <div id="cloud-vendor-google-cloud">
                        {{
                          image(
                            url="https://assets.ubuntu.com/v1/08e4baa9-google-cloud.svg",
                            alt="",
                            height="48",
                            width="60",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-radio-card__icon"}
                          ) | safe
                        }}
                        Google Cloud
                      </div>
                    </label>
                  </div>
                  <div class="col-3">
                    <label class="p-radio-card">
                      <input type="radio" class="js-radio" name="cloud-vendor" aria-labelledby="cloud-vendor-azure" value="Azure">
                      <div id="cloud-vendor-azure">
                        {{
                          image(
                            url="https://assets.ubuntu.com/v1/121cb665-azure.svg",
                            alt="",
                            height="48",
                            width="48",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-radio-card__icon"}
                          ) | safe
                        }}
                        Azure
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Pick your e-coffee:</h3>
          <div class="p-stepped-list__content">
            <p>It&rsquo;s imaginarily delicious!</p>
            <div class="row u-no-padding--left u-no-padding--right js-coffee-radios">
              <div class="col-3">
                <label class="p-radio-card is-selected">
                  <input type="radio" class="js-radio" name="coffee" aria-labelledby="coffee-latte" value="Latte" checked>
                  <div class="p-heading--4 u-no-margin--bottom" id="coffee-latte">Latte</div>
                </label>
              </div>
              <div class="col-3">
                <label class="p-radio-card">
                  <input type="radio" class="js-radio" name="coffee" aria-labelledby="coffee-cappuccino" value="Cappuccino">
                  <div class="p-heading--4 u-no-margin--bottom" id="coffee-cappuccino">Cappuccino</div>
                </label>
              </div>
              <div class="col-3">
                <label class="p-radio-card">
                  <input type="radio" class="js-radio" name="coffee" aria-labelledby="coffee-black-coffee" value="Black Coffee">
                  <div class="p-heading--4 u-no-margin--bottom" id="coffee-black-coffee">Black Coffee</div>
                </label>
              </div>
              <div class="col-3">
                <label class="p-radio-card">
                  <input type="radio" class="js-radio" name="coffee" aria-labelledby="coffee-tea" value="Tea">
                  <div class="p-heading--4 u-no-margin--bottom" id="coffee-tea">Tea</div>
                </label>
              </div>
            </div>
          </div>
        </li>
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Who are you?</h3>
          <div class="p-stepped-list__content">
            <p>Tell us your name so we can misspell it while writing on your cup.</p>
            <div class="row u-no-padding--left u-no-padding--right">
              <div class="col-7">
                <div class="p-form__group">
                  <label for="firstName">First name *</label>
                  <input type="text" name="firstName" id="firstName" required>
                </div>
                <div class="p-form__group">
                  <label for="lastName">Last name *</label>
                  <input type="text" name="lastName" id="lastName" required>
                </div>
                <div class="p-form__group">
                  <label for="email">Email *</label>
                  <input type="text" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="this.setCustomValidity('Please enter a valid email address')" required>
                </div>
                <div class="p-form__group">
                  <label for="company">Company (optional)</label>
                  <input type="text" name="company" id="company">
                </div>
                <div class="p-form__group">
                  <label for="title">What floats your boat? *</label>
                  <select name="title" id="title" required>
                    <option value="" disabled selected>Choose one&hellip;</option>
                    <option>BackEnd Developer</option>
                    <option>Full-Stack Developer</option>
                    <option>Software Architect</option>
                    <option>Front-End / Applications Developer</option>
                    <option>Mobile Developer</option>
                    <option>Data Scientist</option>
                    <option>Quality Assurance Engineer</option>
                    <option>Security Engineer</option>
                    <option>SRE/DevOps Engineer</option>
                    <option>Infrastructure Architect</option>
                    <option>Release Management</option>
                    <option>Database Administrator</option>
                    <option>Machine Learning Specialist</option>
                    <option>DevOps Management</option>
                    <option>Engineering Manager</option>
                    <option>Project Manager</option>
                    <option>CTO</option>
                    <option>Executive</option>
                    <option>CIO</option>
                    <option>Product Manager</option>
                    <option>Academic/Teacher/Student</option>
                    <option>Developer Advocate</option>
                    <option>Consultant</option>
                    <option>Other</option>
                    <option>Sales Representative</option>
                    <option>Marketing Professional</option>
                  </select>
                </div>

                <div class="p-form__group">
                  <label class="p-checkbox">
                    <input type="checkbox" aria-labelledby="opt-in" class="p-checkbox__input" id="canonicalUpdatesOptIn" required>
                    <span class="p-checkbox__label" id="opt-in">I agree to receive information about Canonical&rsquo;s products and services. *</span>
                  </label>
                </div>

                <div class="p-form__group">
                  <p>In submitting this form, I confirm that I have read and agree to <a class="p-link--external" href="https://ubuntu.com/legal/data-privacy/contact">Canonical’s Privacy Notice</a> and <a class="p-link--external" href="https://ubuntu.com/legal/data-privacy">Privacy Policy</a>.
                </div>
              </div>
            </div>
            <button class="p-button--positive js-brew-form-button" type="submit">
              Brew!
              <i class="p-icon--spinner u-animation--spin is-light u-hide"></i>
            </button>
          </div>
        </li>
      </ol>
    </form>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Stats</h2>
    <iframe width="1200" height="900" src="https://datastudio.google.com/embed/reporting/72407aa9-dd84-4d68-84e9-596406fc5a47/page/DaVbC" frameborder="0" style="border: 0;" allowfullscreen></iframe>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2 id="learn-more">Learn more</h2>
  </div>
  <div class="row">
    <article class="col-4 col-medium-3 p-blog-card" itemtype="http://schema.org/BlogPosting">
      <div class="u-sv2 blog-p-card__header--charms">
        <h5 class="p-muted-heading">Charms</h5>
        <hr>
      </div>
      <div class="p-card__content">
        <div class="u-crop--16-9 u-sv1">
          <a href="/blog/model-driven-observability-part-2-juju-topology-metrics" aria-hidden="true" tabindex="-1">
            <div class=" lazyloaded" data-noscript="">
              <img alt="" height="199" loading="lazy" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_354,h_199/https://ubuntu.com/wp-content/uploads/bf7e/Blog-post-Model-driven-observability-2-feature.png" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_708,h_398/https://ubuntu.com/wp-content/uploads/bf7e/Blog-post-Model-driven-observability-2-feature.png 2x" width="354">
            </div>
          </a>
        </div>
        <h3 class="p-heading--4">
          <a href="/blog/model-driven-observability-part-2-juju-topology-metrics" class="p-link--soft">Model-driven observability: the magic of Juju topology for metrics</a>
        </h3>
        <p><em>by Michele Mancioppi on 22 August 2021</em></p>
      </div>
    </article>

    <article class="col-4 col-medium-3 p-blog-card" itemtype="http://schema.org/BlogPosting">
      <div class="u-sv2 blog-p-card__header--charms">
        <h5 class="p-muted-heading">Charms</h5>
        <hr>
      </div>
      <div class="p-card__content">
        <div class="u-crop--16-9 u-sv1">
          <a href="/blog/model-driven-observability-part-1" aria-hidden="true" tabindex="-1">
            <div class=" lazyloaded" data-noscript="">
              <img alt="" height="199" loading="lazy" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_354,h_199/https://ubuntu.com/wp-content/uploads/8648/Model-driven-observability-feature-image.png" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_708,h_398/https://ubuntu.com/wp-content/uploads/8648/Model-driven-observability-feature-image.png 2x" width="354">
            </div>
          </a>
        </div>
        <h3 class="p-heading--4">
          <a href="/blog/model-driven-observability-part-1" class="p-link--soft">Model-driven observability: modern monitoring with Juju</a>
        </h3>
        <p><em>by Michele Mancioppi on 1 August 2021</em></p>
      </div>
    </article>

    <article class="col-4 col-medium-3 p-blog-card" itemtype="http://schema.org/BlogPosting">
      <div class="u-sv2 blog-p-card__header--osm">
        <h5 class="p-muted-heading">OSM</h5>
        <hr>
      </div>
      <div class="p-card__content">
        <div class="u-crop--16-9 u-sv1">
          <a href="/blog/onboarding-network-functions-with-open-source-mano-osm" aria-hidden="true" tabindex="-1">
            <div class=" lazyloaded" data-noscript="">
              <img alt="" height="199" loading="lazy" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_354,h_199/https://ubuntu.com/wp-content/uploads/2e40/Screenshot-from-2021-04-18-21-34-34.png" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,e_sharpen,c_fill,w_708,h_398/https://ubuntu.com/wp-content/uploads/2e40/Screenshot-from-2021-04-18-21-34-34.png 2x" width="354">
            </div>
          </a>
        </div>
        <h3 class="p-heading--4">
          <a href="/blog/onboarding-network-functions-with-open-source-mano-osm" class="p-link--soft">Onboarding and orchestrating network functions with Open Source MANO (OSM)</a>
        </h3>
        <p><em>by Wajeeha Hamid on 22 April 2021</em></p>
      </div>
    </article>
  </div>
  <div class="u-fixed-width">
    <p class="u-align-text--center"><a href="/blog">More articles&nbsp;&rsaquo;</a></p>
  </div>
</section>

<iframe id="form-response" class="u-hide"></iframe>

<script src="{{ versioned_static('js/brew.js') }}"></script>
{% endblock %}
