{% extends 'base.html' %}

{% block page_title %}Community{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1jkA79TUYoHTytxlz37Bl-YT0TaSZRqK1dLRWBDNIzjQ/edit{% endblock meta_copydoc %}
{% block page_description %}We welcome you to participate in all areas of the Juju community.  Explore the many resources, forums, code, services and support on offer.{% endblock %}

{% block content %}
<section class="u-no-padding--bottom">
  <div class="row">
    <h1>Community</h1>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="https://chat.charmhub.io/charmhub/channels/juju" class="p-link--external">Chat - OLM</a></h3>
      <p class="p-card__title">Learn how to use the Operator Lifecycle Manager</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="https://chat.charmhub.io/charmhub/channels/creating-charmed-operators" class="p-link--external">Chat - SDK</a></h3>
      <p class="p-card__title">Create Charmed Operators</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="http://github.com/juju/juju" class="p-link--external">Write Code</a></h3>
      <p class="p-card__title">Help build the Juju OLM</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="http://discourse.charmhub.io" class="p-link--external">Forum</a></h3>
      <p class="p-card__title">About Juju and charm development</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="http://charmhub.io" class="p-link--external">Get Operators</a></h3>
      <p class="p-card__title">Home of the Charmed Operator Collection</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="http://bugs.launchpad.net/juju" class="p-link--external">Report Bugs</a></h3>
      <p class="p-card__title">Thank you :)</p>
    </div>
    <div class="col-4 p-card" style="min-height: 8rem;">
      <h3 class="p-card__title u-no-margin--bottom"><a href="http://jaas.ai" class="p-link--external">Manage Juju with a GUI</a></h3>
      <p class="p-card__title">Fully managed multi cloud Juju services</p>
    </div>
  </div>
</section>
{% endblock %}