{% extends 'base.html' %}

{% block page_title %}Community{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1jkA79TUYoHTytxlz37Bl-YT0TaSZRqK1dLRWBDNIzjQ/edit#{% endblock meta_copydoc %}
{% block page_description %}We welcome you to participate in all areas of the Juju community.  Explore the many resources, forums, code, services and support on offer.{% endblock %}

{% block content %}
<section class="p-strip--suru-topped u-no-padding--bottom">
  <div class="row">
    <h1>Community</h1>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Discussions</h3>
      <p class="p-card__title"><a href="https://discourse.charmhub.io/" class="p-link--external">discourse.charmhub.io</a></p>
      <p class="p-card__content">About Juju and charm development</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Code</h3>
      <p class="p-card__title"><a href="https://github.com/juju/juju" class="p-link--external">github.com/juju/juju</a></p>
      <p class="p-card__content">Contributions to the Juju OLM</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Support</h3>
      <p class="p-card__title"><a href="/contact-us">juju.is/contact-us</a></p>
      <p class="p-card__content">Canonical enterprise support and services</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Bugs</h3>
      <p class="p-card__title"><a href="https://bugs.launchpad.net/juju" class="p-link--external">bugs.launchpad.net/juju</a></p>
      <p class="p-card__content">Thank you :)</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Charms</h3>
      <p class="p-card__title"><a href="https://charmhub.io" class="p-link--external">charmhub.io</a></p>
      <p class="p-card__content">Home of the Open Operator Collection</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">Operator Framework</h3>
      <p class="p-card__title"><a href="https://pythonoperatorframework.io" class="p-link--external">pythonoperatorframework.io</a></p>
      <p class="p-card__content">Pure Python operator development</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title u-no-margin--bottom">SAAS</h3>
      <p class="p-card__title"><a href="https://jaas.ai" class="p-link--external">jaas.ai</a></p>
      <p class="p-card__content">Fully managed multi cloud Juju services</p>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="u-no-margin--bottom">
</div>
<section class="p-strip">
  <div class="row">
    <h2>Sponsors</h2>
    <p class="p-heading-icon--small">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/8dffa60d-canonical_aubergine_hex.svg" alt="">
        <h4 class="p-heading-icon__title"><a href="https://canonical.com" class="p-link--external">Canonical</a></h4>
      </div>
    </div>
  </p>
</section>
{% endblock %}