{% extends 'base.html' %}

{% block page_title %}Community{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1jkA79TUYoHTytxlz37Bl-YT0TaSZRqK1dLRWBDNIzjQ/edit#{% endblock meta_copydoc %}
{% block page_description %}We welcome you to participate in all areas of the Juju community.  Explore the many resources, forums, code, services and support on offer.{% endblock %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="row">
    <h1>Community</h1>
    <p>We welcome you to participate in all areas of the Juju community.  Explore the many resources, forums, code, services and support on offer.</p>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="u-no-margin--bottom">
</div>
<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Get involved</h2>
    </div>
    <div class="col-6 col-start-large-7">
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://discourse.charmhub.io" class="p-link--external">Discussions</a></h3>
      <p>Join the teams building Juju and charm development. Ask questions, learn, share and help shape the direction of the framework.</p>
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://github.com/juju/juju" class="p-link--external">Code</a></h3>
      <p>Want to checkout the code or contribute to the Juju OLM? It is all open on GitHub. We always welcome PRs.</p>
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://bugs.launchpad.net/juju" class="p-link--external">Bugs</a></h3>
      <p>If you have found a bug, please file and issue, it helps the whole community and framework get better. Thank you :)</p>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="u-no-margin--bottom">
</div>
<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Get started</h2>
    </div>
    <div class="col-6 col-start-large-7">
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://charmhub.io/" class="p-link--external">Charms</a></h3>
      <p>Home of the Open Operator Collection. Search and browse for Operators or add yours to the list.</p>
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://pythonoperatorframework.io/" class="p-link--external">Operator Framework</a></h3>
      <p>Pure Python operator development. Build your own operators with the open operator framework&rsquo;s libraries.</p>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="u-no-margin--bottom">
</div>
<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Get serious</h2>
    </div>
    <div class="col-6 col-start-large-7">
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="/contact-us">Support</a></h3>
      <p>Using Juju in your enterprise, check out the  commercial support and services from Canonical.</p>
      <h3 class="p-heading--5 u-no-margin--bottom"><a href="https://jaas.ai" class="p-link--external">SAAS</a></h3>
      <p>Run your operators on Canonical’s fully managed multi cloud Juju services including; Microsoft Azure, Google Cloud and AWS.</p>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="u-no-margin--bottom">
</div>
<section class="p-strip">
  <div class="row">
    <h2 class="u-sv3 u-off-screen">Sponsors</h2>
    <div class="p-heading-icon--small">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/8dffa60d-canonical_aubergine_hex.svg" alt="">
        <h4 class="p-heading-icon__title">Sponsored by <a href="https://canonical.com" class="p-link--external">Canonical</a></h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}