{% extends 'base.html' %}

{% block title %}Automate software operations with Juju and charms{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/147spDkSVH0YaEGKZ4tDi7i28zzhIcacF1hBOMHvxaC0/edit{% endblock meta_copydoc %}
{% block page_description %}Software operations are easier with Juju - the open source orchestration engine for software operators. Deploy, integrate, scale and manage your applications' lifecycle at any scale, on any infrastructure with Juju and charms.{% endblock %}

{% block content %}
<main id="main-content">
  <section class="p-strip--light u-no-padding--bottom">
    <div class="row">
      <div class="col-7">
        <h1>Revolutionise the speed and quality of software operations with Juju</h1>
        <p>Juju is an open source orchestration engine for software operators that enables the deployment, integration and lifecycle management of applications at any scale, on any infrastructure using charms.</p>
        <p>A charm is an operator - business logic encapsulated in reusable software packages that automate every aspect of an application's life.</p>
        <p class="u-no-margin--bottom">
          <a href="/docs/juju/get-started-with-juju" class="p-button--positive u-no-margin--bottom">Get started with Juju</a>
        </p>
      </div>
      <div class="col-5">
        {{
          image(
            url="https://assets.ubuntu.com/v1/2c7e3fab-juju-header-illustration.svg",
            alt="",
            height="453",
            width="500",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-7">
        <h2>Shift from application to system lifecycle management</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <p>Juju and charms consider the integrations between different applications as a first class primitive.</p>
        <p>This means your observability stack, database, SSO, and more, evolve with your system - and they work on day 1,000 just as well as they did on day one.</p>
        <p class="u-no-margin--bottom">
          <a href="/docs/sdk" class="p-button u-no-margin--bottom">Learn about Charms</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-7">
        <h2>Reuse operations code across Kubernetes and VMs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <p>Use a single codebase to automate the lifecycle management of your system across public clouds, Kubernetes, virtual (VM) and bare metal machines.</p>
        <p>Learn how to use Juju across supported clouds and environments.</p>
      </div>
    </div>
  </section>
  
  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-7">
        <h2>Deploy and integrate with enterprise-grade software operators</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <p>Charmhub is a curated marketplace for charms which can be readily integrated into any infrastructure, and the centre of the charm community.</p>
        <p class="u-no-margin--bottom">
          <a href="https://charmhub.io/" class="p-button u-no-margin--bottom">Explore all charms</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-3">
        <div class="p-side-navigation" style="margin-top: 6px;">
          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item">
              <a href="#databases" class="p-side-navigation__link is-active" data-js="panel-link">Databases</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#big-data-and-ai" class="p-side-navigation__link" data-js="panel-link">Big data and AI</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#observability" class="p-side-navigation__link" data-js="panel-link">Observability</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#infrastructure" class="p-side-navigation__link" data-js="panel-link">Infrastructure</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="row" id="databases">
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/postgresql">Postgres</a>
            </h3>
            <p>Open-source relational database management system</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/mysql">MySQL</a>
            </h3>
            <p>Open-source relational database management system</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/mongodb">Charmed MongoDB</a>
            </h3>
            <p>Source-available document-oriented database</p>
          </div>
        </div>
        <div class="row u-hide" id="big-data-and-ai">
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/kafka">Kafka</a>
            </h3>
            <p>Open source distributed event store and stream-processing platform</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/kubeflow">Kubeflow</a>
            </h3>
            <p>Open source platform for machine learning and MLOps on Kubernetes</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://discourse.charmhub.io/t/charmed-spark-documentation/8963">Apache Spark</a>
            </h3>
            <p>Open source unified analytics engine for large-scale data processing</p>
          </div>
        </div>
        <div class="row u-hide" id="observability">
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/prometheus-k8s">Prometheus</a>
            </h3>
            <p>Open source monitoring system with a dimensional data model and a time series database</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/grafana-k8s">Grafana</a>
            </h3>
            <p>Open source analytics and interactive visualization web application</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/loki-k8s">Loki</a>
            </h3>
            <p>Open source log aggregation system designed to store and query logs from all your applications and infrastructure</p>
          </div>
        </div>
        <div class="row u-hide" id="infrastructure">
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/vault">Vault</a>
            </h3>
            <p>Open source identity-based secrets and encryption management system</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/traefik-k8s">Traefik</a>
            </h3>
            <p>Open-source reverse proxy and load balancer for HTTP and TCP-based applications</p>
          </div>
          <div class="col-3">
            <h3 class="p-heading--5">
              <a href="https://charmhub.io/landscape-scalable">Landscape</a>
            </h3>
            <p>Ubuntu systems management tool developed by Canonical</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="u-fixed-width"><hr class="p-rule"></div>
        <p>Learn more about charms on <a href="http://discourse.charmhub.io">Discourse</a> and <a href="http://chat.charmhub.io">Mattermost</a></p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-7">
        <h2>Watch: Learn about Juju in 10 minutes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <iframe class="responsive-video" src="https://www.youtube.com/embed/HhRBNs9ckIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>Watch this video to learn the core concept of Juju and charms, how you can use  them to automate operations across different clouds/VM/k8s and the benefits of integrations.</p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="row">
      <div class="col-7">
        <h2>
          <a href="https://juju.is/docs/juju/get-started-with-juju">Get started with Juju&nbsp;&rsaquo;</a>
        </h2>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="u-fixed-width">
      <h2>Add visibility and compliance controls with Jaas</h2>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <p>Jaas (Juju as a service) is your centralised enterprise control plane for Juju deployments.</p>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Manage hundreds of Juju controllers.</li>
          <li class="p-list__item is-ticked">Add fine grained access controls.</li>
          <li class="p-list__item is-ticked">Enable enhanced audit functionalities.</li>
        </ul>
        <p class="u-no-margin--bottom">
          <a href="http://jaas.ai" class="p-button--positive u-no-margin--bottom">Discover Jaas</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width"><hr class="p-rule"></div>
    <div class="u-fixed-width">
      <h2>Trusted by 10,000+ engineers at</h2>
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/89680bdf-logo-ubuntu.svg" alt="Ubuntu logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/4589dd76-logo-deutsche-telekom.svg" alt="Deutsche Telekom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/d1c6f829-logo-ibm.svg" alt="IBM logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/ecf0af7c-logo-Intel.svg" alt="Intel logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/f01ae6bc-logo-azure.svg" alt="Microsoft Azure logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2ec61a24-logo-deutsche-telekom.svg" alt="Cisco logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/e651641d-logo-china+telecom.svg" alt="China Telecom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/446d9353-logo-nec.svg" alt="nec logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3a082df1-logo-hp.svg" alt="Hewlett Packard logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3bfe80c9-logo-yahoo-jp.svg" alt="Yahoo! Japan logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2de518fb-logo-verizon.svg" alt="verizon logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/2a962e80-logo-Bell.svg" alt="Bell logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3b6dac61-logo-swissquote.svg" alt="Swissquote logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/01b828d0-logo-panasonic.svg" alt="Panasonic logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/066908c1-logo-scania.svg" alt="Scania logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/c2220484-logo-BT.svg" alt="BT logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/a2e4ca92-logo-rabobank.svg" alt="Rabobank logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/bafeea04-logo-tele2.svg" alt="tele2 logo">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-shallow">
    <div class="u-fixed-width">
      <h2>Learn more about Juju</h2>
    </div>
    <div class="row">
      <div class="col-6 col-start-large-4">
        <div class="u-fixed-width"><hr class="p-rule"></div>
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">Read more</h3>
          </div>
          <div class="col-3">
            <p>
              <a href="/docs/olm">Juju documentation</a>
            </p>
            <hr class="p-rule">
            <p>
              <a href="/docs/sdk">Charm SDK documentation</a>
            </p>
          </div>
        </div>
        <div class="u-fixed-width"><hr class="p-rule"></div>
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">Connect with us</h3>
          </div>
          <div class="col-3">
            <p>
              <a href="http://chat.charmhub.io">Charmhub chat</a>
            </p>
            <hr class="p-rule">
            <p>
              <a href="https://discourse.charmhub.io/">Discourse forum</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  const panelLinks = document.querySelectorAll("[data-js='panel-link']");

  panelLinks.forEach((panelLink) => {
    panelLink.addEventListener("click", (e) => {
      e.preventDefault();

      const activePanelLink = document.querySelector("[data-js='panel-link'].is-active");
      const activePanel = document.querySelector(activePanelLink.getAttribute("href"));

      if (activePanelLink === panelLink) {
        return;
      }

      const targetPanel = document.querySelector(panelLink.getAttribute("href"));
      
      activePanelLink.classList.remove("is-active");
      activePanel.classList.add("u-hide");
      panelLink.classList.add("is-active");
      targetPanel.classList.remove("u-hide");
    });
  });
</script>
{% endblock %}
