{% extends 'base.html' %} {% block content %}
<main id="main-content">
  <section class="p-strip--suru-bottom has-accent is-dark" style="background-size: auto 100%, cover; background-position: right center; background-image: url('https://assets.ubuntu.com/v1/a9dab044-suru-right.svg'), linear-gradient(266deg, #044f66, #022935)">
    <div id="panel-juju-as-a-service" role="tabpanel" aria-labelledby="juju-as-a-service" class="p-hero-panel u-animate--reveal">
      <div class="row">
        <div class="col-6">
          <h1>Juju is</h1>
          <p>The simplest way to deploy and maintain applications in the cloud. Juju uses humans-first syntax. More importantly, it helps your team to build and maintain an understandable mental model of every deployment.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
              loading="eager",
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div id="panel-juju-expert-partners" role="tabpanel" aria-labelledby="juju-expert-partners"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Juju is</h1>
          <p>Open source done right. The project has hundreds of individuals providing code, bug reports, documentation and support. Backed by Canonical, the company behind Ubuntu, Juju powers the infrastructure behind startups, enterprises, researchers and governments.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div id="panel-openstack-solutions" role="tabpanel" aria-labelledby="openstack-solutions"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Juju is</h1>
          <p>Dependable, efficient and understandable. You describe how your deployment should be and Juju makes it so. Your intent will be carried out at any scale on every cloud. Juju allows applications to auto-configure their optimal settings, preventing secrets to leak and typos to create cascading failure. </p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>


    <div id="panel-big-data-solutions" role="tabpanel" aria-labelledby="big-data-solutions"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Juju is</h1>
          <p>The only devops tool that understands that post-deployment operations are its responsibility too. Juju creates an application model for every deployment, keeping everyone’s operational awareness at the level needed to size up and manage any eventuality.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div class="row p-hero-tab">
      <div role="tablist" aria-label="Discover Juju services and solutons" class="p-hero-tab__list">
        <button role="tab" aria-selected="true" aria-controls="panel-juju-as-a-service" id="juju-as-a-service" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is simple</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-juju-expert-partners" id="juju-expert-partners" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is open source</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-openstack-solutions" id="openstack-solutions" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is automation</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-big-data-solutions" id="big-data-solutions" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is application modeling</p>
        </button>
      </div>
    </div>
  </section>

  <script src="{{ static_url('js/tabpanel.js') }}"></script>

  <section class="p-strip" id="what-is-juju">
    <div class="row">
      <div class="col-6">
        <h2>What is Juju?</h2>
        <p>
          Built to manage complex software architectures wherever they’re run,
          Juju simplifies deployment and post-install operations like upgrades,
          updates and configuration management.
        </p>
        <p>
          Use Juju to manage applications and services on public clouds such as
          Amazon AWS, Google GCE and Microsoft Azure, on bare metal, or any
          hybrid cloud configuration.
        </p>
      </div>
      <div class="col-5 col-start-large-7 u-align--center">
        <img
          src="https://assets.ubuntu.com/v1/78c1ad70-deploy-logos-2x.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <section class="p-strip--light" id="install">
    <div class="row">
      <div class="col-8">
        <h2>Getting started</h2>
        <p>Choose your platform and get started</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        {{
          image(
            url="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg",
            alt="Linux logo",
            width="76",
            height="90",
            hi_def=True,
            attrs={"style": "margin: 27px 0;height: 90px;"},
          ) | safe
        }}
        <p>Install on Linux via a Snap</p>
        <div class="u-sv2">
          <pre class="p-code-numbered u-no-margin--bottom"><code><span class="p-code-numbered__line">sudo snap install juju</span></code></pre>
        </div>
        <a href="/docs/installing#heading--ubuntu">Documentation for Linux&nbsp;&rsaquo;</a>
      </div>
      <div class="col-4">
        {{
          image(
            url="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg",
            alt="Windows logo",
            width="145",
            height="145",
            hi_def=True,
          ) | safe
        }}
        <p>An installer for Windows</p>
        <div class="u-sv2">
          <a
            href="https://github.com/juju/juju/releases"
            class="p-button--neutral u-no-margin--bottom"
          >
            <span class="p-link--external">Download Juju for Windows</span>
          </a>
        </div>
        <a href="/docs/installing#heading--windows">Documentation for Windows&nbsp;&rsaquo;</a>
      </div>
      <div class="col-4">
        {{
          image(
            url="https://assets.ubuntu.com/v1/236f314d-macos.svg",
            alt="macOS logo",
            width="145",
            height="145",
            hi_def=True,
          ) | safe
        }}
        <p>Install on macOS via Homebrew</p>
        <div class="u-sv2">
          <pre class="p-code-numbered u-no-margin--bottom"><code><span class="p-code-numbered__line">brew install juju</span></code></pre>
        </div>
        <a href="/docs/installing#heading--macos">Documentation for macOS&nbsp;&rsaquo;</a>
      </div>
    </div>
  </section>

  <section class="p-strip" id="tutorials">
    <div class="row">
      <div class="col-8">
        <h2>Tutorials</h2>
        <p>
          Check out the following in depth tutorials exploring the deployment of more advanced workloads to understand where Juju can fit into your workflow.
        </p>
        <p><a href="/tutorials" class="p-button u-no-margin--bottom">Browse tutorials</a></p>
      </div>
    </div>
  </section>

  <section class="p-strip--light u-equal-height" id="jaas">
    <div class="row">
      <div class="col-5 u-align--center u-vertically-center">
        {{
          image(
            url="https://assets.ubuntu.com/v1/162002c2-charms_juju.svg",
            alt="",
            width="563",
            height="232",
            hi_def=True,
          ) | safe
        }}
      </div>
      <div class="col-6 col-start-large-7">
        <h4>JAAS is Juju as a service.</h4>
        <p>Hosted by Canonical, the makers of Ubuntu, JAAS provides managed Juju infrastructure to operate your applications. It’s the fastest way to operate your workloads on supported clouds with the fewest instances required.</p>
        <p>Build, configure, manage and deploy your applications to the public cloud directly from your browser or the command line.</p>
        <p><a href="https://jaas.ai" class="p-link--external">Try JAAS</a></p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <blockquote class="p-pull-quote u-no-margin--bottom">
          <p class="p-pull-quote__quote u-no-margin--bottom">
            For me, speed and simplicity are paramount. It may sound silly, but
            a lot of the stuff I do in my lab with Juju is out of pure laziness.
            Juju frees my brain to focus on other things. While Juju itself is
            really intuitive and easy to use, I was pleasantly surprised by how
            welcoming and humble the Juju community is. The community is a big
            reason why I’ve stuck with it.
          </p>
          <cite class="p-pull-quote__citation">Sean Shüping, <a class="p-link--external" href="https://devzero.co.za/">/dev/zero</a></cite>
        </blockquote>
      </div>
      <div class="col-6">
        <blockquote class="p-pull-quote u-no-margin--bottom">
          <p class="p-pull-quote__quote u-no-margin--bottom">
            Using the modelling ethos brought by Juju allows me to quickly run
            big data applications in a multitude of places. Be it locally on my
            laptop, on bare metal or in the Cloud, Juju lets me reuse the same
            models and code without changing any aspects of my deployment
          </p>
          <cite class="p-pull-quote__citation">Tom Barber, Spicule</cite>
        </blockquote>
      </div>
    </div>
  </section>


  <section class="p-strip--light" id="learn-more">
    <div class="row">
      <div class="col-12">
        <h2>Learn more</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h4>Documentation</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="/docs/concepts" class="p-link--external">Concepts</a>
          </li>
          <li class="p-list__item">
            <a href="/tutorials" class="p-link--external">Tutorials</a>
          </li>
          <li class="p-list__item">
            <a href="/docs" class="p-link--external">Docs</a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Tutorials</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/client-usage-tutorial"
              class="p-link--external"
              >Basic client usage</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/microk8s-cloud"
              class="p-link--external"
              >Using Juju with MicroK8s</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/k8s-charms-tutorial"
              class="p-link--external"
              >Understanding Kubernetes charms</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/t/tutorial-managing-credentials/1289"
              class="p-link--external"
              >Managing credentials</a
            >
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Participate</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="https://github.com/juju/juju" class="p-link--external"
              >Juju on GitHub</a
            >
          </li>
          <li class="p-list__item">
            <a href="https://discourse.jujucharms.com/" class="p-link--external"
              >Juju on Discourse</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>

{% endblock %}
