{% extends 'base.html' %} {% block content %}
<main id="main-content">
  <section class="p-strip--suru-bottom has-accent is-dark" style="background-size: auto 100%, cover; background-position: right center; background-image: url('https://assets.ubuntu.com/v1/a9dab044-suru-right.svg'), linear-gradient(266deg, #044f66, #022935)">
    <div id="panel-juju-as-a-service" role="tabpanel" aria-labelledby="juju-as-a-service" class="p-hero-panel u-animate--reveal">
      <div class="row">
        <div class="col-6">
          <h1>DevOps automation</h1>
          <p>Designed for DevOps, Juju provides full automation of software deployments and operations, significantly simplifying the entire process. Benefit from reusable blocks and customise them if needed. Deploy your software, scale it out, upgrade and integrate with LMA by running a single command. Juju abstracts operational tasks in a form of primitives and provides service orchestration capabilities.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
              loading="eager",
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div id="panel-juju-expert-partners" role="tabpanel" aria-labelledby="juju-expert-partners"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Multi-cloud SaaS</h1>
          <p>Deploy your software on-demand in a multi-cloud environment. Your intent will be carried out at any scale on private and public clouds, from OpenStack and Kubernetes to AWS. Just define how your deployment should look like and Juju will make it for you. Focus on shaping your applications and maximising their business value rather than struggling with complex procedures. Benefit from the 'model and deploy' approach.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div id="panel-openstack-solutions" role="tabpanel" aria-labelledby="openstack-solutions"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Autonomous software</h1>
          <p>Imagine software that runs on its own and controls other software components. Although the end-user is still responsible for defining how the deployment should look like, the autonomous software is able to heal applications, restart services and re-deploy failed units - whatever is required to achieve the desired ultimate state defined by the end-user. This software is already here. It is called Juju!</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>


    <div id="panel-big-data-solutions" role="tabpanel" aria-labelledby="big-data-solutions"  class="p-hero-panel">
      <div class="row">
        <div class="col-6">
          <h1>Alternative to OpenShift</h1>
          <p>By enabling the possibility to model containerised applications on top of Kubernetes, Juju is an open-source and free alternative to Red Hat OpenShift. The project has hundreds of individuals providing code commits, documentation updates and support. Backed by Canonical, the maintainer and publisher of Ubuntu, Juju empowers the infrastructure behind startups, research institutes, enterprises, telcos and governments.</p>
          <p><a href="/docs" class="p-button--positive">Get started with Juju</a></p>
          <div>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" aria-label="Follow @juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju" data-icon="octicon-star" data-show-count="true" aria-label="Star juju/juju on GitHub"></a>
            <a class="github-button" data-size="large" href="https://github.com/juju/juju/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork juju/juju on GitHub"></a>
          </div>
        </div>
        <div class="col-6 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/60bd6cf1-picto-juju.svg",
              alt="",
              width="300",
              height="374",
              hi_def=True,
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div class="row p-hero-tab">
      <div role="tablist" aria-label="Discover Juju services and solutons" class="p-hero-tab__list">
        <button role="tab" aria-selected="true" aria-controls="panel-juju-as-a-service" id="juju-as-a-service" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is DevOps automation</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-juju-expert-partners" id="juju-expert-partners" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is multi-cloud SaaS</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-openstack-solutions" id="openstack-solutions" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is autonomous software</p>
        </button>
        <button role="tab" aria-selected="false" aria-controls="panel-big-data-solutions" id="big-data-solutions" class="p-hero-tab__item">
          <i class="before"></i>
          <p class="p-hero-tab__title">Juju is alternative to OpenShift</p>
        </button>
      </div>
    </div>
  </section>

  <script src="{{ static_url('js/tabpanel.js') }}"></script>

  <section class="p-strip" id="what-is-juju">
    <div class="row">
      <div class="col-8">
        <h2>Why Juju?</h2>
        <p>
          Built to manage complex software architectures and microservices wherever they run, Juju simplifies deployment and post-installation operations by enabling an infrastructure as code approach and providing lifecycle management capabilities from Day-1 to Day-N. Use Juju to manage applications on your workstation, on bare-metal or in a multi-cloud environment.
        </p>
        <p>
          Choose your platform and get started
        </p>
      </div>
      <div class="row">
      <div class="col-3">
        {{
          image(
            url="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg",
            alt="Linux logo",
            width="76",
            height="90",
            hi_def=True,
            attrs={"style": "margin: 27px 0;height: 90px;"},
          ) | safe
        }}
        <p>Install on Linux via a Snap</p>
        <div class="u-sv2">
          <pre class="p-code-numbered u-no-margin--bottom"><code><span class="p-code-numbered__line">sudo snap install juju</span></code></pre>
        </div>
        <a href="/docs/installing#heading--ubuntu">Documentation for Linux&nbsp;&rsaquo;</a>
      </div>
      <div class="col-3">
        {{
          image(
            url="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg",
            alt="Windows logo",
            width="145",
            height="145",
            hi_def=True,
          ) | safe
        }}
        <p>An installer for Windows</p>
        <div class="u-sv2">
          <a
            href="https://github.com/juju/juju/releases"
            class="p-button--neutral u-no-margin--bottom"
          >
            <span class="p-link--external">Download Juju for Windows</span>
          </a>
        </div>
        <a href="/docs/installing#heading--windows">Documentation for Windows&nbsp;&rsaquo;</a>
      </div>
      <div class="col-3">
        {{
          image(
            url="https://assets.ubuntu.com/v1/236f314d-macos.svg",
            alt="macOS logo",
            width="145",
            height="145",
            hi_def=True,
          ) | safe
        }}
        <p>Install on macOS via Homebrew</p>
        <div class="u-sv2">
          <pre class="p-code-numbered u-no-margin--bottom"><code><span class="p-code-numbered__line">brew install juju</span></code></pre>
        </div>
        <a href="/docs/installing#heading--macos">Documentation for macOS&nbsp;&rsaquo;</a>
      </div>
      <div class="col-3">
        {{
          image(
            url="https://assets.ubuntu.com/v1/b96a2a65-Multipass+logo_rgb.svg",
            alt="Multipass",
            width="145",
            height="145",
            hi_def=True,
          ) | safe
        }}
        <p>Install anywhere via Multipass</p>
        <div class="u-sv2">
          <a
            href="https://multipass.run/"
            class="p-button--neutral u-no-margin--bottom"
          >
            <span class="p-link--external">Install Multipass</span>
          </a>        
        </div>
        <a href="/docs/installing#heading--ubuntu">Documentation for Multipass</a>
      </div>
    </div>
  </section>

  <section class="p-strip" id="infrastructure">
    <div class="row">   
      <div class="col-12">
        <h2>Infrastructure as code with Juju</h2>
        <p>By providing a declarative approach to application deployment and operations, Juju enables an infrastructure as code (IaC) approach allowing full automation and DevOps agility:</p>
        <ul class="p-matrix">
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">Automation</h3>
              <div class="p-matrix__desc">
                <p>Just define what your deployment should look like and let Juju deploy applications for you. No manual steps are required. All operations are performed automatically by Juju.</p>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">Orchestration</h3>
              <div class="p-matrix__desc">
                <p>Forget complex procedures, recipes and scripts. Juju possesses the entire logic required to install, configure, connect and maintain applications. All operations are fully automated too.</p>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">Redeployments</h3>
              <p class="p-matrix__desc">Define once, deploy as many times as you need. Juju allows automated redeployments in the same environment or any other environment.</p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">Reusability</h3>
              <div class="p-matrix__desc">
                <p>Use the same deployment definition across various environments. Juju supports most of the public clouds and various on-prem platforms: MAAS, vSphere, OpenStack and Kubernetes.</p>
              </div>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">Versioning</h3>
              <p class="p-matrix__desc">Save a point in time definition of your deployment and experiment with your applications. Get back to the working version if anything goes wrong.</p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title">CI/CD</h3>
              <p class="p-matrix__desc">Integrate Juju with your CI/CD pipeline and make changes to your deployments by commits or pull requests. Build a fully functional CI/CD platform with Juju.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-strip" id="lifecycle">
    <div class="row">
      <div class="col-8">
        <h2>Lifecycle management from Day-1 to Day-N</h2>
        <p>
          Juju does not only handle the initial deployment, but also assists in daily operations. This provides lifecycle management capabilities from Day-1 to Day-N which significantly reduces operational costs:
        </p>
        <h3>Maintenance</h3>
        <p>
          Scale out a cluster, perform a database backup, upgrade software, change configuration or restart a service by executing a single command. Juju exposes operational tasks in a form of primitives, abstracting the complexity behind them.
        </p>
        <h3>Integration</h3>
        <p>
          Deploy new software components and integrate them with the existing ones without any additional overhead. Juju possesses the entire logic required to integrate various applications.
        </p>
      </div>
    </div>
  </section>
  
   <section class="p-strip" id="simplicity">
    <div class="row">
      <div class="col-8">
        <h2>The simplicity comes from charms</h2>
        <p>
          The power of Juju comes from charms - software components that contain the entire logic required to install, configure, connect and maintain applications. Charms are usually written by experts in the field, but as the whole framework is open-source, users can create their own charms too. A selection of production-grade charms that are maintained by the community is available in the Charm Store.
        </p>
      </div>
    </div>
  </section>
  
   <section class="p-strip--light u-equal-height" id="jaas">
    <div class="row">
      <div class="col-5 u-align--center u-vertically-center"> 
        <div class=" lazyloaded" data-noscript="">
        <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_563,h_232/https://assets.ubuntu.com/v1/162002c2-charms_juju.svg" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_1126,h_464/https://assets.ubuntu.com/v1/162002c2-charms_juju.svg 2x" alt="" width="563" height="232" loading="lazy">
        </div>
      </div>
      <div class="col-6 col-start-large-7">
        <h4>The app store for Juju</h4>
        <p>Charm Store is a place with hundreds of popular charmed applications including Kubernetes, OpenStack, Apache Hadoop, Big Data solutions, LMA and more. Use Charm Store to quickly access them and deploy with Juju.</p>
        <p><a href="https://jaas.ai" class="p-link--external">Try JAAS</a></p>
      </div>
    </div>
  </section>
    
  <section class="p-strip--light u-equal-height" id="jaas">
    <div class="row">
      <div class="col-6 col-start-large-7">
        <h4>JAAS - Juju As A Service</h4>
        <p>Hosted by Canonical, JAAS provides managed Juju infrastructure to maintain your applications. It is the fastest way to get started with Juju on supported public clouds with the fewest instances required.</p>
        <p>Model, configure, deploy and maintain your applications to public clouds directly from your browser or the command line.</p>
        <p><a href="https://jaas.ai" class="p-link--external">Try JAAS</a></p>
      </div>
      <div class="col-5 u-align--center u-vertically-center"> 
        <div class=" lazyloaded" data-noscript="">
        <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_563,h_232/https://assets.ubuntu.com/v1/162002c2-charms_juju.svg" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_1126,h_464/https://assets.ubuntu.com/v1/162002c2-charms_juju.svg 2x" alt="" width="563" height="232" loading="lazy">
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip">
     <div class="row">
      <h2>Empowering production environments</h2>
      <div class="col-4">
        <blockquote class="p-pull-quote u-no-margin--bottom">
          <p class="p-pull-quote__quote u-no-margin--bottom">
           Using the modelling ethos brought by Juju allows me to quickly run big data applications in a multitude of places. Be it locally on my laptop, on bare metal or in the Cloud, Juju lets me reuse the same models and code without changing any aspects of my deployment.
          </p>
          <cite class="p-pull-quote__citation">Tom Barber, Spicule</cite>
        </blockquote>
      </div>
      <div class="col-4">
        <blockquote class="p-pull-quote u-no-margin--bottom">
          <p class="p-pull-quote__quote u-no-margin--bottom">
            Juju enables you to encapsulate each different part of your infrastructure and lets everything talk to each other. So if you have a web server that's managed by Chef and a database that's deployed by a Docker container, you can have the web server talk to the database and the relations between these two very easily.
          </p>
          <cite class="p-pull-quote__citation">Merlijn Sebrechts, Ghent University</cite>
        </blockquote>
      </div>
      <div class="col-4">
        <blockquote class="p-pull-quote u-no-margin--bottom">
          <p class="p-pull-quote__quote u-no-margin--bottom">
            Juju acts as a thin layer on top of your infrastructure that allows all your operational code to talk to each other. And because of this communication layer, a lot of the problems that conventional configuration management systems have just don't exist anymore.
          </p>
          <cite class="p-pull-quote__citation">Konstantin Boudnik, EPAM Systems</cite>
        </blockquote>
      </div>
    </div>
  </section>
  <section class="p-strip--accent" id="learn-more">
    <div class="row">
      <div class="col-12">
        <h2>Learn more</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h4>Documentation</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="/docs/concepts" class="p-link--external">Concepts</a>
          </li>
          <li class="p-list__item">
            <a href="/tutorials" class="p-link--external">Tutorials</a>
          </li>
          <li class="p-list__item">
            <a href="/docs" class="p-link--external">Docs</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Tutorials</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/client-usage-tutorial"
              class="p-link--external"
              >Basic client usage</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/microk8s-cloud"
              class="p-link--external"
              >Using Juju with MicroK8s</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/k8s-charms-tutorial"
              class="p-link--external"
              >Understanding Kubernetes charms</a
            >
          </li>
          <li class="p-list__item">
            <a
              href="https://jaas.ai/docs/t/tutorial-managing-credentials/1289"
              class="p-link--external"
              >Managing credentials</a
            >
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Whitepapers</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="https://ubuntu.com/engage/evolving-software" class="p-link--external"
              >Keep up with evolving software</a
            >
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Participate</h4>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="https://github.com/juju/juju" class="p-link--external"
              >Juju on GitHub</a
            >
          </li>
          <li class="p-list__item">
            <a href="https://discourse.jujucharms.com/" class="p-link--external"
              >Juju on Discourse</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>

{% endblock %}
