{% extends 'how-juju-works.html' %}

{% block title %}Juju architecture{% endblock %}
{% block meta_keywords %}Software operators{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/11t4Z5zMGhyMIUZZbp61iP_eybKFld0kidsviAJKrMd0/edit{% endblock meta_copydoc %}
{% block page_class %}is-paper{% endblock %}

{% set selected_tab='juju-architecture' %}

{% block how_juju_works_content %}
<section class="p-strip u-no-padding--bottom u-no-padding--top">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Juju high-level architecture</h1>
    </div>
    <div class="col-6">
      <p class="p-heading--5">Juju provides a declarative, model-driven, and interactive way to install, provision, maintain, update, upgrade, and integrate applications on and across Kubernetes, Linux containers, virtual machines, and bare metal machines, on public or private cloud.</p>
      <p>The following diagram provides an overview of the high level architecture of a Juju deployment and it describes the key components of the system. You can find a more detailed explanation of all the components you find in this page in the <a href="/docs/juju/reference">reference section</a> of the Juju documentation.</p>
    </div>
  </div>
  <div class="u-fixed-width" style="padding-top: 2rem; padding-bottom: 1rem">
    {{ image(
        url="https://assets.ubuntu.com/v1/5d884b21-Juju%20high%20level%20architecture.svg",
        alt="",
        width="1500",
        height="610",
        hi_def=True,
        attrs={"class": "u-full-width"}
      ) | safe
    }}
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <div class="p-side-navigation">
        <ul class="p-side-navigation__list">
          <li class="p-side-navigation__item">
            <a href="#cloud" class="p-side-navigation__link is-active" data-js="panel-link">Cloud</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#controller" class="p-side-navigation__link" data-js="panel-link">Controller</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#model" class="p-side-navigation__link" data-js="panel-link">Model</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#charm" class="p-side-navigation__link" data-js="panel-link">Charm</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#application" class="p-side-navigation__link" data-js="panel-link">Application</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#integration" class="p-side-navigation__link" data-js="panel-link">Integration</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#client" class="p-side-navigation__link" data-js="panel-link">Client</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#action" class="p-side-navigation__link" data-js="panel-link">Action</a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#units" class="p-side-navigation__link" data-js="panel-link">Units</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 col-start-large-7">
      <div class="row" id="cloud">
        <p>A cloud (or backing cloud) is a resource that provides machines (instances), and possibly storage, in order for application units to be deployed upon them. This includes public clouds such as Amazon Web Services, Google Compute Engine, Microsoft Azure and Kubernetes as well as private OpenStack-based clouds.</p>
        <p>Juju works on most cloud environments. Juju can also make use of environments which are not clouds per se, by treating them as a cloud. MAAS and LXD fit into this last category. Because of this, in Juju a cloud is sometimes also called a <em>substrate</em>.</p>
      </div>
      <div class="row u-hide" id="controller">
        <p>A controller is the management node of any deployed cloud environment. A controller:</p>
        <ul>
          <li>Talks to the cli as well as all the other juju clients.</li>
          <li>Manages the deployment and keeps track of its state.</li>
          <li>Connects to charmhub to fetch and deploy charms.</li>
          <li>Interacts with the underlying cloud to provision necessary resources (compute, storage, networking).</li>
          <li>Facilitates the integration between charms in the same cloud or across clouds.</li>
        </ul>
        <p>Controllers must first be installed (bootstrapped).</p>
      </div>
      <div class="row u-hide" id="model">
        <p>A model is a user-defined collection of applications that wraps all of the components required to support them, such as integrations, storage, and network spaces.</p>
        <p>A model is associated with a single controller. A controller can have an indefinite number of models and each model can have an indefinite number of applications. Models themselves can be shared amongst Juju users.</p>
        <p>Both the model and the controller are associated with a cloud, though they do not both have to be on the same cloud (a controller can manage models across multiple clouds).</p>
      </div>
      <div class="row u-hide" id="charm">
        <p>A charm is an operator: business logic encapsulated in reusable software packages that automate every aspect of an application's life.</p>
        <p>Charms are publicly available on Charmhub and they are of two kinds, depending on the target deployment substrate:</p>
        <ol>
          <li><strong>Machine charms:</strong> Charms made to deploy on a bare-metal server, virtual machine, or system container.</li>
          <li><strong>Kubernetes charms:</strong> Charms built to deploy on Kubernetes.</li>
        </ol>
      </div>
      <div class="row u-hide" id="application">
        <p>An application is a running abstraction of a charm in the Juju model. It is the sum of all units of a given charm with the same name.</p>
        <p>Applications could correspond to a traditional software package but they could also provide an interface to apply a certain set of changes to a workload.</p>
        <p>An application is always hosted within a model and consists of one or more units.</p>
        <p>Interaction between applications is handled by integrations.</p>
      </div>
      <div class="row u-hide" id="integration">
        <p>An integration is a connection between applications, or between different units of the same application.</p>
        <p>An integration between two applications is formed by connecting their endpoints. Endpoints can only be connected if they support the same interface and are of a compatible role (for example: requires to provides; provides to requires; peers to peers).</p>
        <p>Integrations mediate the configuration exchange between applications. Once an integration has been formed the two applications communicate directly (and not through the controller).</p>
      </div>
      <div class="row u-hide" id="client">
        <p>A Juju client is any software that implements the Juju client apiserver contract and it is able to talk to the controller.</p>
        <p>This currently includes:</p>
        <ul>
          <li>The Juju CLI (juju).</li>
          <li>The Terraform CLI when used with the juju provider plug-in (terraform).</li>
          <li>The python-libjuju library (python-libjuju).</li>
          <li>Jimm, the central management component of Jaas.</li>
        </ul>
      </div>
      <div class="row u-hide" id="action">
        <p>An action is a script that is triggered via the Juju client and applied to a unit.</p>
        <p>It contains a list of commands defined by a charm to allow a user to interact with the application and streamline the performance of a specific task.</p>
        <p>Actions generally simplify routine or complex tasks (like backup and secret rotation), abstracting away their complexity from the IT manager.</p>
      </div>
      <div class="row u-hide" id="units">
        <p>In Juju a unit is a deployed charm, a single deployed entity of a deployed application.</p>
        <p>The number of units can generally be controlled by the IT manager, however the charm might also specify certain requirements in order to enable certain features (e.g. high availability).</p>
      </div>
    </div>
  </div>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">A single tool to deploy and manage apps across VMs, Kubernetes, bare metal and cloud</h1>
    </div>
    <div class="col-6">
      <p class="p-heading--5">Flexibility and portability are at the heart of Juju</p>
      <p>Juju and charms support multiple cloud backends, giving you the choice to deploy your applications to the most cost effective, resource-rich or commercially suitable clouds, and then connect them in a way that suits your application model.</p>
      <p>In addition Juju gives you flexibility in how to orchestrate your deployment. You can manage everything from a single, centralised Juju controller, or you can have multiple controllers installed on each layer of the cloud.</p>
    </div>
  </div>
  <div class="u-fixed-width" style="padding-top: 2rem;">
    {{ image(
          url="https://assets.ubuntu.com/v1/d2130ab1-A%20single%20tool%20to%20deploy.svg",
          alt="",
          width="1500",
          height="572",
          hi_def=True,
          attrs={"class": "u-full-width"}
        ) | safe
      }}
  </div>
</section>
<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width"><hr class="p-rule"></div>
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Juju on k8s</h1>
    </div>
    <div class="col-6">
      <p class="p-heading--5">When applications are deployed on Kubernetes every instance of a workload runs in a pod with its own container and next to the Juju unit agent.</p>
      <p>The model corresponds to a namespace and the applications are generally deployed as StatefulSets.</p>
      <p>The Juju agent talks to a component called Pebble in order to interact with the workload. Pebble is a daemon that allows the management of non-system processes independently from the system services.</p>
      <p>In this model the operations code (the charm) scales together with the workload, reducing the risk for bottlenecks at scale.</p>
    </div>
  </div>
  <div class="u-fixed-width" style="padding-top: 2rem;">
    {{ image(
          url="https://assets.ubuntu.com/v1/efc07adc-juju%20on%20k8s.svg",
          alt="",
          width="1500",
          height="706",
          hi_def=True,
          attrs={"class": "u-full-width"}
        ) | safe
      }}
  </div>
</section>
<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Juju on VMs and system containers</h1>
    </div>
    <div class="col-6">
      <p class="p-heading--5">Flexibility and portability are at the heart of Juju</p>
      <p>In the case of machines the charm runs in a container, alongside the juju agent.</p>
      <p>The workload is deployed alongside the charm code and juju agent and it is directly controlled by the unit workers.</p>
    </div>
  </div>
  <div class="u-fixed-width" style="padding-top: 2rem;">
    {{ image(
          url="https://assets.ubuntu.com/v1/e0bc4a58-Juju%20on%20VMs.svg",
          alt="",
          width="1500",
          height="885",
          hi_def=True,
          attrs={"class": "u-full-width"}
        ) | safe
      }}
  </div>
</section>
<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row" style="padding-bottom: 2rem;">
    <div class="col-6">
      <h1 class="p-heading--2">Read about these next:</h1>
    </div>
  </div>
  <div class="row">
    <div class="u-fixed-width col-start-large-4"><hr class="p-rule--muted"></div>
    <div class="col-3 col-start-large-4">
      <a href="/charm-architecture" class="p-heading--5">Charm architecture</a>
    </div>
    <div class="col-9 col-start-large-7">
      <p>Charm architecture encapsulates app management, with charms automating lifecycle actions via a controller, responsive to both admin commands and system events.</p>
    </div>
  </div>
  <div class="row">
    <div class="u-fixed-width col-start-large-4" style="padding-top: 2rem;"><hr class="p-rule--muted"></div>
    <div class="col-3 col-start-large-4">
      <a href="/integrations" class="p-heading--5">Integrations</a>
    </div>
    <div class="col-9 col-start-large-7">
      <p>Juju integrations are virtual connections between charms to allow the exchange of information.</p>
    </div>
  </div>
</section>
<script>
  const panelLinks = document.querySelectorAll("[data-js='panel-link']");

  panelLinks.forEach((panelLink) => {
    panelLink.addEventListener("click", (e) => {
      e.preventDefault();

      const activePanelLink = document.querySelector("[data-js='panel-link'].is-active");
      const activePanel = document.querySelector(activePanelLink.getAttribute("href"));

      if (activePanelLink === panelLink) {
        return;
      }

      const targetPanel = document.querySelector(panelLink.getAttribute("href"));

      activePanelLink.classList.remove("is-active");
      activePanel.classList.add("u-hide");
      panelLink.classList.add("is-active");
      targetPanel.classList.remove("u-hide");
    });
  });
</script>
{% endblock %}
