{% extends 'base.html' %}

{% block title %}Juju tutorials{% endblock %}

{% block content %}
<section class="p-strip--accent is-bordered">
  <div class="row">
    <div class="col-8">
      <h1 class="u-no-margin--bottom">Tutorials</h1>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row u-equal-height u-clearfix">
    <div class="col-4 resource-p-card--post">
      <header class="resource-p-card__header--cloud">
        <h5 class="p-muted-heading u-no-margin--bottom">
          Containers
        </h5>
      </header>
      <div class="resource-p-card__content">
        <h3 class="p-heading--four">
          <a href="https://tutorials.ubuntu.com/tutorial/deploying-storageos-on-kubernetes">
            Deploying StorageOS on Charmed Kubernetes
          </a>
        </h3>
        <p>
          <em>
            16 September 2019
          </em>
        </p>
        <p class="u-no-padding--bottom u-hide--small">
          Learn how to deploy StorageOS on Charmed Kubernetes
        </p>
      </div>
      <p class="resource-p-card__footer">
        Duration: 37 mins
      </p>
    </div>

    <div class="col-4 resource-p-card--post">
      <header class="resource-p-card__header--containers">
        <h5 class="p-muted-heading u-no-margin--bottom">
          Cloud
        </h5>
      </header>
      <div class="resource-p-card__content">
        <h3 class="p-heading--four">
          <a href="https://tutorials.ubuntu.com/tutorial/streaming-hadoop-analysis">
            Streaming Data Analytics with Apache Hadoop
          </a>
        </h3>
        <p>
          <em>
            18 October 2018
          </em>
        </p>
        <p class="u-no-padding--bottom u-hide--small">
          Get started with Hadoop on JAAS with this streaming data example. We will use JAAS to deploy a fully supported Hadoop stack and then stream data into the platform for interactive SQL based Analysis.
        </p>
      </div>
      <p class="resource-p-card__footer">
        Duration: 81 mins
      </p>
    </div>

    <div class="col-4 resource-p-card--post">
      <header class="resource-p-card__header--containers">
        <h5 class="p-muted-heading u-no-margin--bottom">
          Cloud
        </h5>
      </header>
      <div class="resource-p-card__content">
        <h3 class="p-heading--four">
          <a href="https://tutorials.ubuntu.com/tutorial/tutorial-charm-development-part1">
            Juju Charm development (part 1)
          </a>
        </h3>
        <p>
          <em>
            22 June 2018
          </em>
        </p>
        <p class="u-no-padding--bottom u-hide--small">
          Get started with Python 3 charm development with our guide to creating, building and deploying your first charm.
        </p>
      </div>
      <p class="resource-p-card__footer">
        Duration: 42 mins
      </p>
    </div>
  </div>

  <div class="row u-equal-height u-clearfix">
    <div class="col-4 resource-p-card--post">
      <header class="resource-p-card__header--cloud">
        <h5 class="p-muted-heading u-no-margin--bottom">
          Containers
        </h5>
      </header>
      <div class="resource-p-card__content">
        <h3 class="p-heading--four">
          <a href="https://tutorials.ubuntu.com/tutorial/get-started-charmed-kubernetes">
            Get started with Charmed Kubernetes
          </a>
        </h3>
        <p>
          <em>
            21 July 2017
          </em>
        </p>
        <p class="u-no-padding--bottom u-hide--small">
          Learn how to operate a production-ready Kubernetes cluster. Kubernetes is a great open-source orchestration system for cloud native infrastructure.
        </p>
      </div>
      <p class="resource-p-card__footer">
        Duration: 30 mins
      </p>
    </div>

    <div class="col-4 resource-p-card--post">
      <header class="resource-p-card__header--containers">
        <h5 class="p-muted-heading u-no-margin--bottom">
          Cloud
        </h5>
      </header>
      <div class="resource-p-card__content">
        <h3 class="p-heading--four">
          <a href="https://tutorials.ubuntu.com/tutorial/streaming-hadoop-analysis">
            Get started with Hadoop Spark
          </a>
        </h3>
        <p>
          <em>
            07 July 2017
          </em>
        </p>
        <p class="u-no-padding--bottom u-hide--small">
          Learn how to operate a big data cluster, to analyse batch data with MapReduce or streaming data with Spark.
        </p>
      </div>
      <p class="resource-p-card__footer">
        Duration: 30 mins
      </p>
    </div>
  </div>
</section>

{% endblock %}
